# COMP 3610 Project

### A PREDICTIVE MODEL FOR ELECTORAL OUTCOMES IN TRINIDAD & TOBAGO

Christophe Gittens  
Maia Neptune       
Zidane Timothy

In [1]:
# initialize Program
# %pip install requests beautifulsoup4 python-csv
# %pip install pandas

import pandas as pd
import numpy as np
import csv
import os
import requests
from bs4 import BeautifulSoup
csvs_path = "csvs"

# Loading the datasets

### Electoral Data

In [2]:
election_results = pd.read_excel('csvs\collated-tt-election-results.xlsx', sheet_name=['2007', '2010', '2015','2020'], skiprows=[0,1,2,3,4])

# headers = 
# Access individual sheets using sheet names
sheet_1 = election_results['2007']
sheet_2 = election_results['2010']
sheet_3 = election_results['2015']
sheet_4 = election_results['2020']

2015

Sourcing macroeconomic data from the World Bank API. 
We will examine the the impact of the following:
Trinidad and Tobago's Debt to GDP ratio.
Trinidad and Tobago's GDP.
Trinidad and Tobago's Inflation.
Trinidad and Tobago's Government Expenditure
Trinidad and Tobago's Unemployment Rate.

### Debt to GDP

In [3]:
cols = ["Date", "Central Government Domestic Debt to GDP Ratio (%)",
        "Central Government External Debt to GDP Ratio (%)",
        "Central Government Total Debt to GDP Ratio (%)",
        "Contingent Liabilities Debt to GDP Ratio (%)",
        "Gross Public Sector Debt to GDP Ratio (%)", 
        "Net Public Sector Debt to GDP Ratio (%)"
        ]
df_debt_annual = pd.read_csv(r'csvs\Debt Annual  Central Bank of Trinidad and Tobago.csv',
                             usecols = cols, low_memory = True)
df_debt_annual

,Date,Central Government Domestic Debt to GDP Ratio (%),Central Government External Debt to GDP Ratio (%),Central Government Total Debt to GDP Ratio (%),Contingent Liabilities Debt to GDP Ratio (%),Gross Public Sector Debt to GDP Ratio (%),Net Public Sector Debt to GDP Ratio (%)
0,2024,40.1,19.3,59.4,n.d,n.d,n.d
1,2023,40.6,18.5,59.1,n.d,n.d,n.d
2,2022,41.5,18.3,59.8,n.d,n.d,n.d
3,2021,42.0,17.5,59.4,n.d,n.d,n.d
4,2020,44.0,20.0,64.0,20.6,83.9,76.7
5,2019,44.1,18.7,62.8,21.0,83.4,73.2
6,2018,42.9,16.4,59.3,18.4,77.0,61.3
7,2017,41.7,14.8,56.5,17.8,73.6,58.5
8,2016,42.2,13.4,55.6,19.0,74.7,54.9
9,2015,40.1,8.8,48.8,19.2,68.2,47.8
10,2014,37.5,7.3,44.8,18.3,66.5,45.2
11,2013,28.0,6.8,34.8,16.3,53.6,39.5
12,2012,28.5,5.8,34.3,15.7,51.9,38.6
13,2011,23.1,6.4,29.5,16.3,45.8,32.0
14,2010,28.6,7.5,36.1,16.6,52.9,35.0
15,2009,28.9,7.4,36.3,n.d,n.d,n.d
16,2008,18.5,5.3,23.8,n.d,n.d,n.d
17,2007,20.3,6.3,26.5,n.d,n.d,n.d
18,2006,16.8,6.6,23.4,n.d,n.d,n.d
19,2005,17.9,8.0,25.9,n.d,n.d,n.d
20,2004,20.0,9.8,29.7,n.d,n.d,n.d
21,2003,21.2,14.5,35.7,n.d,n.d,n.d
22,2002,23.0,17.4,40.4,n.d,n.d,n.d
23,2001,23.9,19.4,43.3,n.d,n.d,n.d
24,2000,24.1,21.5,45.6,n.d,n.d,n.d

### GDP

In [4]:


url = 'https://api.worldbank.org/v2/country/TT/indicator/NY.GDP.MKTP.CD?format=json'
response = requests.get(url)

if response:
    data = response.json()
    tt_gdp = data[1]
    df_gdp = pd.DataFrame(tt_gdp)
    df_gdp.to_csv(os.path.join(csvs_path,r'tt_gdp.csv'))

else:
    print("Response is not 200.")

### Inflation

In [5]:
cols = ["Date", "Date",
        "Annual Average Percent Change in the Index of Retail Prices - Inflation Rate (%)",
        "Unemployment Rate (%)","WTI Crude Oil Price (US$/bbl)",
        "Henry Hub Natural Gas Price (US$/mmbtu)",
        "Net Official Reserves (US$Mn)"
        ]
df_inflation_annual = pd.read_csv(r'csvs\Selected Economic Indicators Annual  Central Bank of Trinidad and Tobago.csv',
                             usecols = cols, low_memory = True)

In [6]:
url = 'https://api.worldbank.org/v2/country/TT/indicator/FP.CPI.TOTL.ZG?format=json'
response = requests.get(url)

if response:
    data = response.json()
    tt_inflation = data[1]
    df_inflation = pd.DataFrame(tt_inflation)
    df_inflation.to_csv(os.path.join(csvs_path,r'tt_inflation.csv'))

else:
    print("Response is not 200 for inflation.")

### Unemployment rate

In [7]:
# cols = ["Date", "Unemployment Rate (%)"
#         ]
# df_unemployment_annual = pd.read_csv(r'csvs\Selected Economic Indicators Annual  Central Bank of Trinidad and Tobago.csv',
#                              usecols = cols, low_memory = True)

In [8]:
url = 'https://api.worldbank.org/v2/country/TT/indicator/SL.UEM.TOTL.ZS?format=json'
response = requests.get(url)

if response:
    data = response.json()
    tt_unemployment = data[1]
    df = pd.DataFrame(tt_unemployment)
    df.to_csv(os.path.join(csvs_path,r'tt_unemployment_rate.csv'))

else:
    print("Response is not 200.")

### Government expenditure

In [9]:
df_expenditure = pd.read_csv("csvs\Public Finance Annual  Central Bank of Trinidad and Tobago.csv")

In [10]:
# url = 'https://api.worldbank.org/v2/country/TT/indicator/GC.XPN.TOTL.GD.ZS?format=json'
# response = requests.get(url)

# if response:
#     data = response.json()
#     tt_expenditure = data[1]
#     df_expenditure = pd.DataFrame(tt_expenditure)
#     df_expenditure.to_csv(os.path.join(csvs_path,r'tt_gov_expenditure.csv'))

# else:
#     print("Response is not 200.")

<!-- Debt_to_gdp -->

In [11]:
# url = 'https://api.worldbank.org/v2/country/TT/indicator/GC.XPN.TOTL.GD.ZS?format=json'
# response = requests.get(url)

# if response:
#     data = response.json()
#     tt_debt = data[1]
#     df = pd.DataFrame(tt_debt)
#     df.to_csv(os.path.join(csvs_path,r'tt_debt_to_gdp.csv'))

# else:
#     print("Response is not 200.")

### Homicide rate

In [12]:


url ='https://www.macrotrends.net/global-metrics/countries/TTO/trinidad-and-tobago/murder-homicide-rate'

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

response = requests.get(url, headers=headers)

if response:
    soup = BeautifulSoup(response.content, 'html.parser')

    div = soup.find('div', {'class': 'col-xs-6'})
    crime_data =[]
    if div:
        table = div.find_all('table', {'class':'historical_data_table table table-striped table-bordered'})
        table = table[0]
    if table:
        for row in table.find_all('tr')[2:]:
            cells = row.find_all('td')
            if len(cells) == 3:
                year = cells[0].get_text(strip=True)
                rate_per_100k = cells[1].get_text(strip=True)
                annual_change = cells[2].get_text(strip=True)
                crime_data.append([year,rate_per_100k,annual_change])

        df_homicide_rate = pd.DataFrame(crime_data, columns=['Year','Rate_per_100k_Population','Annual_change'])

        df_homicide_rate.to_csv(os.path.join(csvs_path,r'tt_homicide_rate.csv'), index=False)
else:
    print('Response is not 200.')

### Migration Rates

In [13]:


url = "https://www.macrotrends.net/global-metrics/countries/TTO/trinidad-and-tobago/net-migration#:~:text=The%20net%20migration%20rate%20for,a%200.35%25%20decline%20from%202022."
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")
    # print(soup.prettify())  # Check page structure
else:
    print("Failed to fetch page:", response.status_code)

tables = soup.find_all("table")

# ensure there are at least 2 tables before accessing the second one
if len(tables) >= 2:
    second_table = tables[1]  # Get the second table
    df_migration_rate = pd.read_html(str(second_table))[0]
    df_migration_rate.columns = ["Year", "Net Migration Rate", "Growth Rate"]
    print(df_migration_rate)
else:
    print("Second table not found!")

df_migration_rate.to_csv(os.path.join(csvs_path, r'tt_migration_rate.csv'), index=False)

    Year  Net Migration Rate Growth Rate
0   2025              -0.568      0.000%
1   2024              -0.568     -0.180%
2   2023              -0.569     -0.350%
3   2022              -0.571     -0.350%
4   2021              -0.573     -0.170%
..   ...                 ...         ...
71  1954              -1.068     -3.170%
72  1953              -1.103     -3.080%
73  1952              -1.138     -2.980%
74  1951              -1.173     -2.820%
75  1950              -1.207      0.000%

[76 rows x 3 columns]

C:\Users\zidti\AppData\Local\Temp\ipykernel_21320\303584919.py:19: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df_migration_rate = pd.read_html(str(second_table))[0]

### Currency Exchange Rate

In [14]:
df_exchange_rate = pd.read_csv("csvs\Exchange Rates Annual  Central Bank of Trinidad and Tobago (1).csv")
df_exchange_rate

,Date,Yen Buying,Yen Selling,US Buying,US Selling,Barbados Buying Rate,Barbados Selling Rate,Canadian Buying Rate,Canadian Selling Rate,Swiss Franc Buying Rate,Swiss Franc Selling Rate,EC Buying,EC Selling,Euro Buying,Euro Selling,Pound Buying,Pound Selling,Guyanese Buying,Guyanese Selling
0,2020,0.0630,0.0666,6.7204,6.7803,3.0145,3.5265,5.0261,5.3627,7.1418,7.4692,2.4017,2.6083,7.7617,8.2307,8.6183,9.2182,0.0308,0.0320
1,2019,0.0617,0.0653,6.7306,6.7800,2.9722,3.5199,5.0538,5.3813,6.6645,7.0753,2.4026,2.6062,7.5445,8.0224,8.5342,9.1294,0.0310,0.0321
2,2018,0.0609,0.0642,6.7321,6.7813,3.0253,3.5200,5.1438,5.4918,6.7467,7.2125,2.4105,2.6081,7.9261,8.4500,8.9231,9.5572,0.0311,0.0323
3,2017,0.0599,0.0628,6.7283,6.7795,3.2014,3.5195,5.1182,5.4517,6.6230,7.1055,2.4061,2.6132,7.5373,8.0093,8.6071,9.1537,0.0314,0.0326
4,2016,0.0632,0.0642,6.6152,6.6715,3.1694,3.4586,4.9425,5.2478,6.5403,6.9633,2.3779,2.5788,7.2682,7.6602,8.8462,9.4051,0.0314,0.0327
5,2015,0.0522,0.0546,6.3298,6.3776,3.0357,3.2837,4.8932,5.1793,6.4836,6.8578,2.2653,2.4485,6.9171,7.3032,9.5120,10.0569,0.0301,0.0312
6,2014,0.0602,0.0607,6.3613,6.4086,2.7995,3.2776,5.6779,5.9750,6.7732,7.2603,2.2761,2.4384,8.2714,8.6831,10.2525,10.7882,0.0303,0.0314
7,2013,0.0656,0.0662,6.3885,6.4426,2.7352,3.2935,6.1134,6.4166,6.7316,7.1737,2.2886,2.4468,8.2916,8.6617,9.7838,10.2313,0.0306,0.0329
8,2012,0.0799,0.0807,6.3716,6.4349,2.7123,3.2917,6.2971,6.5787,6.6408,7.0760,2.2977,2.4425,8.0181,8.3414,9.8817,10.3595,0.0306,0.0319
9,2011,0.0800,0.0807,6.3731,6.4261,2.7422,3.2816,6.3605,6.6262,7.1226,7.4970,2.2925,2.4321,8.6736,9.0375,9.9974,10.4562,0.0308,0.0320
10,2010,0.0722,0.0729,6.3203,6.3757,2.7427,3.2543,6.0640,6.3055,5.9781,6.2769,2.2750,2.4166,8.2477,8.5850,9.6021,10.0445,0.0305,0.0317
11,2009,0.0670,0.0679,6.2736,6.3259,2.8194,3.2190,5.4486,5.6911,5.6503,6.0022,2.2527,2.3898,8.5703,8.9866,9.6108,10.0982,0.0304,0.0316
12,2008,0.0621,0.0609,6.2236,6.2891,2.8266,3.2010,5.7929,6.0553,5.6325,5.9348,2.2361,2.3788,8.9735,9.3961,11.2925,11.8596,0.0302,0.0314
13,2007,0.0531,0.0538,6.2736,6.3282,2.8485,3.2184,5.7744,6.0402,5.0763,5.3847,2.2406,2.3959,8.4361,8.7990,12.2988,12.8852,0.0305,0.0318
14,2006,0.0536,0.0545,6.2494,6.3123,2.8437,3.2171,5.4430,5.6765,4.8575,5.1468,2.2215,2.3932,7.7153,8.0420,11.3205,11.8324,0.0306,0.0319
15,2005,0.0566,0.0595,6.2318,6.2996,2.9192,3.1895,5.0866,5.2849,4.9154,5.1104,2.2300,2.3786,7.6171,7.8818,11.1559,11.6325,0.0748,0.0769
16,2004,0.0575,0.0583,6.2440,6.2990,2.8514,3.1873,4.7107,4.9058,4.8974,5.1361,2.2421,2.3330,7.5991,7.9244,11.1954,11.6742,0.0310,0.0336
17,2003,0.0538,0.0545,6.2312,6.2952,2.9063,3.1744,4.3681,4.5563,4.5401,4.7295,2.2414,2.3658,6.8813,7.2050,9.9840,10.4060,0.0327,0.0328
18,2002,0.0494,0.0501,6.1747,6.2473,2.9158,3.1663,3.8622,4.0202,3.9417,4.0370,2.2131,2.3588,5.7305,5.9724,9.1237,9.4925,0.8005,0.8258
19,2001,0.0544,0.0534,6.1679,6.2314,2.9181,3.1710,3.9397,4.0916,3.6175,3.7476,2.2013,2.3564,5.4881,5.6632,8.7703,9.1134,0.0344,0.0337
20,2000,0.0581,0.0587,6.2502,6.2998,4.1650,3.2061,4.1599,4.3188,3.6877,3.7554,2.2445,2.3773,5.8441,6.0074,9.3961,9.7412,0.0438,0.0446

# Preprocessing

From the central bank wevsite n.d. is No Data or NA so that is taken in consideration moving forward. Also all dates were kept as string as they just indicate the yeat

## Electoral Data

In [15]:
sheet_1

,Unnamed: 0,Unnamed: 1,VOTES CAST,Unnamed: 3,Unnamed: 4,POLLED,VOTES,%,VOTES.1,%.1,VOTES.2,%.2,VOTES.3,%.3,VOTES.4,%.4,VOTES.5,%.5
0,ARIMA,22845,13464,0.589363,91,13373,8603,0.643311,1224.0,0.091528,3464,0.259029,NaN,NaN,NaN,NaN,82.0,0.006132
1,AROUCA/MALONEY,23673,15948,0.673679,40,15908,12055,0.757795,1480.0,0.093035,2373,0.149170,NaN,NaN,NaN,NaN,NaN,NaN
2,BARATARIA/SAN JUAN,24597,16451,0.668821,93,16358,7179,0.438868,5362.0,0.327791,3817,0.233341,NaN,NaN,NaN,NaN,NaN,NaN
3,CARONI CENTRAL,22813,16640,0.729409,46,16594,4579,0.275943,7615.0,0.458901,4400,0.265156,NaN,NaN,NaN,NaN,NaN,NaN
4,CARONI EAST,23554,16460,0.698820,64,16396,3833,0.233777,8333.0,0.508234,4230,0.257990,NaN,NaN,NaN,NaN,NaN,NaN
5,CHAGUANAS EAST,22383,15887,0.709780,51,15836,6757,0.426686,4993.0,0.315294,4086,0.258020,NaN,NaN,NaN,NaN,NaN,NaN
6,CHAGUANAS WEST,24272,18029,0.742790,82,17947,1519,0.084638,11150.0,0.621274,5278,0.294088,NaN,NaN,NaN,NaN,NaN,NaN
7,COUVA NORTH,25898,18992,0.733338,72,18920,5249,0.277431,8832.0,0.466808,4839,0.255761,NaN,NaN,NaN,NaN,NaN,NaN
8,COUVA SOUTH,25188,17987,0.714110,53,17934,5097,0.284209,8428.0,0.469945,4409,0.245846,NaN,NaN,NaN,NaN,NaN,NaN
9,CUMUTO/MANZANILLA,24700,17751,0.718664,76,17675,7124,0.403055,7368.0,0.416860,3183,0.180085,NaN,NaN,NaN,NaN,NaN,NaN
10,D'ABADIE/O'MEARA,23916,15086,0.630791,41,15045,8877,0.590030,2425.0,0.161183,3695,0.245597,NaN,NaN,NaN,NaN,48.0,0.003190
11,DIEGO MARTIN CENTRAL,25975,15483,0.596073,26,15457,9301,0.601734,582.0,0.037653,5574,0.360613,NaN,NaN,NaN,NaN,NaN,NaN
12,DIEGO MARTIN NORTH/EAST,27131,15289,0.563525,40,15249,9349,0.613089,877.0,0.057512,5023,0.329399,NaN,NaN,NaN,NaN,NaN,NaN
13,DIEGO MARTIN WEST,26651,15399,0.577802,65,15334,9221,0.601343,513.0,0.033455,5600,0.365202,NaN,NaN,NaN,NaN,NaN,NaN
14,FYZABAD,24752,18562,0.749919,65,18497,7201,0.389306,7562.0,0.408823,3734,0.201871,NaN,NaN,NaN,NaN,NaN,NaN
15,LA BREA,23034,15497,0.672788,91,15406,10055,0.652668,3490.0,0.226535,1861,0.120797,NaN,NaN,NaN,NaN,NaN,NaN
16,LA HORQUETTA/TALPARO,22689,14479,0.638151,68,14411,8324,0.577614,3494.0,0.242454,2593,0.179932,NaN,NaN,NaN,NaN,NaN,NaN
17,LAVENTILLE EAST/MORVANT,26529,13767,0.518942,56,13711,11069,0.807308,1107.0,0.080738,1535,0.111954,NaN,NaN,NaN,NaN,NaN,NaN
18,LAVENTILLE WEST,25633,12110,0.472438,45,12065,10637,0.881641,343.0,0.028429,1085,0.089930,NaN,NaN,NaN,NaN,NaN,NaN
19,LOPINOT/BON AIR WEST,22834,15690,0.687133,58,15632,8535,0.545995,3907.0,0.249936,3190,0.204069,NaN,NaN,NaN,NaN,NaN,NaN
20,MAYARO,25401,18802,0.740207,113,18689,8137,0.435390,8613.0,0.460859,1939,0.103751,NaN,NaN,NaN,NaN,NaN,NaN
21,MORUGA/TABLELAND,25301,18607,0.735425,109,18498,9108,0.492378,7925.0,0.428425,1465,0.079198,NaN,NaN,NaN,NaN,NaN,NaN
22,NAPARIMA,24471,17595,0.695427,75,17520,2892,0.165068,10338.0,0.590068,4290,0.244863,NaN,NaN,NaN,NaN,NaN,NaN
23,OROPOUCHE EAST,25836,18798,0.768175,72,18726,3081,0.164531,10156.0,0.542348,5489,0.293122,NaN,NaN,NaN,NaN,NaN,NaN
24,OROPOUCHE WEST,22513,16457,0.636979,60,16397,3629,0.221321,8570.0,0.522657,4198,0.256022,NaN,NaN,NaN,NaN,NaN,NaN
25,POINT FORTIN,23832,15785,0.701150,50,15735,9257,0.588306,2640.0,0.167779,3838,0.243915,NaN,NaN,NaN,NaN,NaN,NaN
26,POINTE-A-PIERRE,24467,17428,0.731286,70,17358,7505,0.432365,6189.0,0.356550,3664,0.211084,NaN,NaN,NaN,NaN,NaN,NaN
27,PORT-OF-SPAIN NORTH/ST. ANN'S WEST,22164,12340,0.504353,32,12308,8359,0.679152,305.0,0.024781,3644,0.296068,NaN,NaN,NaN,NaN,NaN,NaN
28,PORT-OF-SPAIN SOUTH,22037,11630,0.527749,30,11600,7823,0.674397,566.0,0.048793,3141,0.270776,NaN,NaN,NaN,NaN,70.0,0.006034
29,PRINCES TOWN,24208,17425,0.719803,72,17353,5298,0.305307,8231.0,0.474327,3824,0.220365,NaN,NaN,NaN,NaN,NaN,NaN
30,SAN FERNANDO EAST,22097,15047,0.680952,43,15004,10320,0.687817,1630.0,0.108638,3054,0.203546,NaN,NaN,NaN,NaN,NaN,NaN
31,SAN FERNANDO WEST,21035,14683,0.698027,55,14628,7371,0.503897,2306.0,0.157643,4951,0.338460,NaN,NaN,NaN,NaN,NaN,NaN
32,SIPARIA,25667,18272,0.711887,105,18167,4678,0.257500,10323.0,0.568228,3166,0.174272,NaN,NaN,NaN,NaN,NaN,NaN
33,ST. ANN'S EAST,25495,14389,0.564385,74,14315,10008,0.699127,1060.0,0.074048,3247,0.226825,NaN,NaN,NaN,NaN,NaN,NaN
34,ST. AUGUSTINE,24414,17818,0.729827,40,17778,4309,0.242378,7043.0,0.396164,6426,0.361458,NaN,NaN,NaN,NaN,NaN,NaN
35,ST. JOSEPH,24932,17092,0.685545,47,17045,7969,0.467527,4932.0,0.289352,4144,0.243121,NaN,NaN,NaN,NaN,NaN,NaN
36,TABAQUITE,25720,18620,0.723950,81,18539,5541,0.298883,7206.0,0.388694,5792,0.312422,NaN,NaN,NaN,NaN,NaN,NaN
37,TOBAGO EAST,19320,10880,0.563147,67,10813,5684,0.525664,NaN,NaN,237,0.021918,4703.0,0.434939,148.0,0.013687,41.0,0.003792
38,TOBAGO WEST,21936,11756,0.535923,29,11727,6850,0.584122,NaN,NaN,471,0.040164,4176.0,0.356101,230.0,0.019613,NaN,NaN
39,TOCO/SANGRE GRANDE,26721,16725,0.625912,90,16635,9557,0.574512,3864.0,0.232281,3214,0.193207,NaN,NaN,NaN,NaN,NaN,NaN
40,TUNAPUNA,23833,16725,0.701758,63,16662,8494,0.509783,3986.0,0.239227,4182,0.250990,NaN,NaN,NaN,NaN,NaN,NaN
41,TOTAL,990467,655845,0.662157,2600,653245,300434,0.459910,194968.0,0.298461,148345,0.227089,8879.0,0.013592,378.0,0.000579,241.0,0.000369

In [16]:
sheet_1.isna().sum()

Unnamed: 0     0
Unnamed: 1     0
VOTES CAST     0
Unnamed: 3     0
Unnamed: 4     0
POLLED         0
VOTES          0
%              0
VOTES.1        2
%.1            2
VOTES.2        0
%.2            0
VOTES.3       39
%.3           39
VOTES.4       39
%.4           39
VOTES.5       37
%.5           37
dtype: int64

In [17]:
# sht_07, sht_10, sht_15, sht_20 = sheet_2007.iloc[3:], sheet_2010.iloc[3:], sheet_2015.iloc[3:], sheet_2020.iloc[3:]

# print(sht_07)
# print(sht_10)
# print(sht_15)
# print(sht_20)
# sht_20

In [18]:
sheet_1.shape

(42, 18)

Fixing headers

2007

In [19]:
cols= [
            'ELECTORAL_DISTRICT', 'ELECTORATE', 'TOTAL_NUMBER_OF_VOTES_CAST',
            'VOTER_TURNOUT', 'REJECTED_BALLOTS', 'VALID_VOTES', 'P.N.M._VOTES',
            'P.N.M._VOTES_%', 'U.N.C._VOTES','U.N.C._VOTES_%', 'C.O.P._VOTES', 
            'C.O.P._VOTES_%', 'D.A.C._VOTES', 'D.A.C._VOTES_%', 'D.N.A._VOTES', 
            'D.N.A._VOTES_%', 'I.N.D_VOTES', 'I.N.D._VOTES_%'
        ]
sht_07 = sheet_1
sht_07.columns = cols
sht_07.fillna(0, inplace=True)
sht_07

,ELECTORAL_DISTRICT,ELECTORATE,TOTAL_NUMBER_OF_VOTES_CAST,VOTER_TURNOUT,REJECTED_BALLOTS,VALID_VOTES,P.N.M._VOTES,P.N.M._VOTES_%,U.N.C._VOTES,U.N.C._VOTES_%,C.O.P._VOTES,C.O.P._VOTES_%,D.A.C._VOTES,D.A.C._VOTES_%,D.N.A._VOTES,D.N.A._VOTES_%,I.N.D_VOTES,I.N.D._VOTES_%
0,ARIMA,22845,13464,0.589363,91,13373,8603,0.643311,1224.0,0.091528,3464,0.259029,0.0,0.000000,0.0,0.000000,82.0,0.006132
1,AROUCA/MALONEY,23673,15948,0.673679,40,15908,12055,0.757795,1480.0,0.093035,2373,0.149170,0.0,0.000000,0.0,0.000000,0.0,0.000000
2,BARATARIA/SAN JUAN,24597,16451,0.668821,93,16358,7179,0.438868,5362.0,0.327791,3817,0.233341,0.0,0.000000,0.0,0.000000,0.0,0.000000
3,CARONI CENTRAL,22813,16640,0.729409,46,16594,4579,0.275943,7615.0,0.458901,4400,0.265156,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,CARONI EAST,23554,16460,0.698820,64,16396,3833,0.233777,8333.0,0.508234,4230,0.257990,0.0,0.000000,0.0,0.000000,0.0,0.000000
5,CHAGUANAS EAST,22383,15887,0.709780,51,15836,6757,0.426686,4993.0,0.315294,4086,0.258020,0.0,0.000000,0.0,0.000000,0.0,0.000000
6,CHAGUANAS WEST,24272,18029,0.742790,82,17947,1519,0.084638,11150.0,0.621274,5278,0.294088,0.0,0.000000,0.0,0.000000,0.0,0.000000
7,COUVA NORTH,25898,18992,0.733338,72,18920,5249,0.277431,8832.0,0.466808,4839,0.255761,0.0,0.000000,0.0,0.000000,0.0,0.000000
8,COUVA SOUTH,25188,17987,0.714110,53,17934,5097,0.284209,8428.0,0.469945,4409,0.245846,0.0,0.000000,0.0,0.000000,0.0,0.000000
9,CUMUTO/MANZANILLA,24700,17751,0.718664,76,17675,7124,0.403055,7368.0,0.416860,3183,0.180085,0.0,0.000000,0.0,0.000000,0.0,0.000000
10,D'ABADIE/O'MEARA,23916,15086,0.630791,41,15045,8877,0.590030,2425.0,0.161183,3695,0.245597,0.0,0.000000,0.0,0.000000,48.0,0.003190
11,DIEGO MARTIN CENTRAL,25975,15483,0.596073,26,15457,9301,0.601734,582.0,0.037653,5574,0.360613,0.0,0.000000,0.0,0.000000,0.0,0.000000
12,DIEGO MARTIN NORTH/EAST,27131,15289,0.563525,40,15249,9349,0.613089,877.0,0.057512,5023,0.329399,0.0,0.000000,0.0,0.000000,0.0,0.000000
13,DIEGO MARTIN WEST,26651,15399,0.577802,65,15334,9221,0.601343,513.0,0.033455,5600,0.365202,0.0,0.000000,0.0,0.000000,0.0,0.000000
14,FYZABAD,24752,18562,0.749919,65,18497,7201,0.389306,7562.0,0.408823,3734,0.201871,0.0,0.000000,0.0,0.000000,0.0,0.000000
15,LA BREA,23034,15497,0.672788,91,15406,10055,0.652668,3490.0,0.226535,1861,0.120797,0.0,0.000000,0.0,0.000000,0.0,0.000000
16,LA HORQUETTA/TALPARO,22689,14479,0.638151,68,14411,8324,0.577614,3494.0,0.242454,2593,0.179932,0.0,0.000000,0.0,0.000000,0.0,0.000000
17,LAVENTILLE EAST/MORVANT,26529,13767,0.518942,56,13711,11069,0.807308,1107.0,0.080738,1535,0.111954,0.0,0.000000,0.0,0.000000,0.0,0.000000
18,LAVENTILLE WEST,25633,12110,0.472438,45,12065,10637,0.881641,343.0,0.028429,1085,0.089930,0.0,0.000000,0.0,0.000000,0.0,0.000000
19,LOPINOT/BON AIR WEST,22834,15690,0.687133,58,15632,8535,0.545995,3907.0,0.249936,3190,0.204069,0.0,0.000000,0.0,0.000000,0.0,0.000000
20,MAYARO,25401,18802,0.740207,113,18689,8137,0.435390,8613.0,0.460859,1939,0.103751,0.0,0.000000,0.0,0.000000,0.0,0.000000
21,MORUGA/TABLELAND,25301,18607,0.735425,109,18498,9108,0.492378,7925.0,0.428425,1465,0.079198,0.0,0.000000,0.0,0.000000,0.0,0.000000
22,NAPARIMA,24471,17595,0.695427,75,17520,2892,0.165068,10338.0,0.590068,4290,0.244863,0.0,0.000000,0.0,0.000000,0.0,0.000000
23,OROPOUCHE EAST,25836,18798,0.768175,72,18726,3081,0.164531,10156.0,0.542348,5489,0.293122,0.0,0.000000,0.0,0.000000,0.0,0.000000
24,OROPOUCHE WEST,22513,16457,0.636979,60,16397,3629,0.221321,8570.0,0.522657,4198,0.256022,0.0,0.000000,0.0,0.000000,0.0,0.000000
25,POINT FORTIN,23832,15785,0.701150,50,15735,9257,0.588306,2640.0,0.167779,3838,0.243915,0.0,0.000000,0.0,0.000000,0.0,0.000000
26,POINTE-A-PIERRE,24467,17428,0.731286,70,17358,7505,0.432365,6189.0,0.356550,3664,0.211084,0.0,0.000000,0.0,0.000000,0.0,0.000000
27,PORT-OF-SPAIN NORTH/ST. ANN'S WEST,22164,12340,0.504353,32,12308,8359,0.679152,305.0,0.024781,3644,0.296068,0.0,0.000000,0.0,0.000000,0.0,0.000000
28,PORT-OF-SPAIN SOUTH,22037,11630,0.527749,30,11600,7823,0.674397,566.0,0.048793,3141,0.270776,0.0,0.000000,0.0,0.000000,70.0,0.006034
29,PRINCES TOWN,24208,17425,0.719803,72,17353,5298,0.305307,8231.0,0.474327,3824,0.220365,0.0,0.000000,0.0,0.000000,0.0,0.000000
30,SAN FERNANDO EAST,22097,15047,0.680952,43,15004,10320,0.687817,1630.0,0.108638,3054,0.203546,0.0,0.000000,0.0,0.000000,0.0,0.000000
31,SAN FERNANDO WEST,21035,14683,0.698027,55,14628,7371,0.503897,2306.0,0.157643,4951,0.338460,0.0,0.000000,0.0,0.000000,0.0,0.000000
32,SIPARIA,25667,18272,0.711887,105,18167,4678,0.257500,10323.0,0.568228,3166,0.174272,0.0,0.000000,0.0,0.000000,0.0,0.000000
33,ST. ANN'S EAST,25495,14389,0.564385,74,14315,10008,0.699127,1060.0,0.074048,3247,0.226825,0.0,0.000000,0.0,0.000000,0.0,0.000000
34,ST. AUGUSTINE,24414,17818,0.729827,40,17778,4309,0.242378,7043.0,0.396164,6426,0.361458,0.0,0.000000,0.0,0.000000,0.0,0.000000
35,ST. JOSEPH,24932,17092,0.685545,47,17045,7969,0.467527,4932.0,0.289352,4144,0.243121,0.0,0.000000,0.0,0.000000,0.0,0.000000
36,TABAQUITE,25720,18620,0.723950,81,18539,5541,0.298883,7206.0,0.388694,5792,0.312422,0.0,0.000000,0.0,0.000000,0.0,0.000000
37,TOBAGO EAST,19320,10880,0.563147,67,10813,5684,0.525664,0.0,0.000000,237,0.021918,4703.0,0.434939,148.0,0.013687,41.0,0.003792
38,TOBAGO WEST,21936,11756,0.535923,29,11727,6850,0.584122,0.0,0.000000,471,0.040164,4176.0,0.356101,230.0,0.019613,0.0,0.000000
39,TOCO/SANGRE GRANDE,26721,16725,0.625912,90,16635,9557,0.574512,3864.0,0.232281,3214,0.193207,0.0,0.000000,0.0,0.000000,0.0,0.000000
40,TUNAPUNA,23833,16725,0.701758,63,16662,8494,0.509783,3986.0,0.239227,4182,0.250990,0.0,0.000000,0.0,0.000000,0.0,0.000000
41,TOTAL,990467,655845,0.662157,2600,653245,300434,0.459910,194968.0,0.298461,148345,0.227089,8879.0,0.013592,378.0,0.000579,241.0,0.000369

2010

In [20]:
cols = [
            'ELECTORAL_DISTRICT', 'ELECTORATE', 'TOTAL_NUMBER_OF_VOTES_CAST',
            'VOTER_TURNOUT', 'REJECTED_BALLOTS', 'VALID_VOTES', 'P.N.M._VOTES',
            'P.N.M._VOTES_%', 'U.N.C._VOTES','U.N.C._VOTES_%', 'C.O.P._VOTES', 
            'C.O.P._VOTES_%', 'N.N.V._VOTES', 'N.N.V._VOTES_%', 'T.O.P._VOTES', 
            'T.O.P._VOTES_%', 'T.H.C._VOTES', 'T.H.C._VOTES_%', 'I.N.D_VOTES', 
            'I.N.D._VOTES_%', 'T.T.N.C.P._VOTES', 'T.T.N.C.P._VOTES_%'
        ]

sht_10 = sheet_2
sht_10.columns = cols
sht_10.fillna(0, inplace=True)
sht_10

,ELECTORAL_DISTRICT,ELECTORATE,TOTAL_NUMBER_OF_VOTES_CAST,VOTER_TURNOUT,REJECTED_BALLOTS,VALID_VOTES,P.N.M._VOTES,P.N.M._VOTES_%,U.N.C._VOTES,U.N.C._VOTES_%,...,N.N.V._VOTES,N.N.V._VOTES_%,T.O.P._VOTES,T.O.P._VOTES_%,T.H.C._VOTES,T.H.C._VOTES_%,I.N.D_VOTES,I.N.D._VOTES_%,T.T.N.C.P._VOTES,T.T.N.C.P._VOTES_%
0,ARIMA,24115,15130,0.627410,73,15057,7246,0.481238,0.0,0.000000,...,201.0,0.013349,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
1,AROUCA/MALONEY,25019,17196,0.687318,46,17150,11517,0.671545,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,113.0,0.006589,0.0,0.000000
2,BARATARIA/SAN JUAN,25394,17768,0.699693,76,17692,6742,0.381076,10950.0,0.618924,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
3,CARONI CENTRAL,24601,18793,0.763912,50,18743,4880,0.260364,13863.0,0.739636,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,CARONI EAST,25166,18762,0.745530,57,18705,3724,0.199091,14981.0,0.800909,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
5,CHAGUANAS EAST,23653,17611,0.744557,58,17553,6717,0.382670,10797.0,0.615109,...,39.0,0.002222,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
6,CHAGUANAS WEST,25715,20281,0.788684,70,20211,1471,0.072782,18740.0,0.927218,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
7,COUVA NORTH,27680,21286,0.769003,70,21216,5159,0.243166,16057.0,0.756834,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
8,COUVA SOUTH,26400,19877,0.752917,59,19818,4773,0.240842,15045.0,0.759158,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
9,CUMUTO/MANZANILLA,26896,20527,0.763199,121,20406,7181,0.351906,13116.0,0.642752,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,109.0,0.005342,0.0,0.000000
10,D'ABADIE/O'MEARA,26019,18121,0.696453,74,18047,8352,0.462792,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
11,DIEGO MARTIN CENTRAL,27465,17265,0.628618,33,17232,9040,0.524605,0.0,0.000000,...,145.0,0.008415,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
12,DIEGO MARTIN NORTH/EAST,27647,16809,0.607986,68,16741,8539,0.510065,8076.0,0.482408,...,126.0,0.007526,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
13,DIEGO MARTIN WEST,28366,17248,0.608052,61,17187,9042,0.526095,0.0,0.000000,...,149.0,0.008669,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
14,FYZABAD,25802,20245,0.784629,59,20186,7298,0.361538,12888.0,0.638462,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
15,LA BREA,24057,17098,0.710729,67,17031,9680,0.568375,7116.0,0.417826,...,235.0,0.013798,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
16,LA HORQUETTA/TALPARO,23959,16483,0.687967,51,16432,7633,0.464520,8712.0,0.530185,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,58.0,0.003530,29.0,0.003799
17,LAVENTILLE EAST/MORVANT,27426,15038,0.548312,62,14976,10797,0.720954,0.0,0.000000,...,449.0,0.029981,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
18,LAVENTILLE WEST,27426,13494,0.492015,39,13455,10730,0.797473,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
19,LOPINOT/BON AIR WEST,24447,17559,0.718248,58,17501,8249,0.471344,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
20,MAYARO,26433,20305,0.768169,129,20176,7330,0.363303,12846.0,0.636697,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
21,MORUGA/TABLELAND,26450,20433,0.772514,124,20309,8681,0.427446,11628.0,0.572554,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
22,NAPARIMA,25394,19230,0.757265,62,19168,2553,0.133191,16615.0,0.866809,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
23,OROPOUCHE EAST,27181,20861,0.767485,62,20799,2872,0.138084,17927.0,0.861916,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
24,OROPOUCHE WEST,23427,17772,0.758612,58,17714,3526,0.199052,14188.0,0.800948,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
25,POINT FORTIN,24607,16888,0.686309,47,16841,8748,0.519447,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
26,POINTE-A-PIERRE,23504,17959,0.764083,81,17878,6956,0.389082,10922.0,0.610918,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
27,PORT-OF-SPAIN NORTH/ST. ANN'S WEST,23154,13344,0.576315,43,13301,8088,0.608075,5120.0,0.384933,...,93.0,0.006992,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
28,PORT-OF-SPAIN SOUTH,23711,12700,0.535616,52,12648,7539,0.596063,0.0,0.000000,...,340.0,0.026882,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
29,PRINCES TOWN,25259,19272,0.762976,72,19200,5051,0.263073,14149.0,0.736927,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
30,SAN FERNANDO EAST,22813,15893,0.696664,48,15845,9736,0.614453,6109.0,0.385547,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
31,SAN FERNANDO WEST,23554,17148,0.728029,49,17099,7860,0.459676,0.0,0.000000,...,128.0,0.007486,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
32,SIPARIA,26657,19907,0.746783,82,19825,4175,0.210593,15650.0,0.789407,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
33,ST. ANN'S EAST,26940,16267,0.603823,103,16164,9411,0.582220,6635.0,0.410480,...,118.0,0.007300,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
34,ST. AUGUSTINE,25582,19284,0.753811,58,19226,3955,0.205711,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
35,ST. JOSEPH,25943,18711,0.721235,64,18647,7778,0.417118,10835.0,0.581059,...,0.0,0.000000,0.0,0.000000,34.0,0.001823,0.0,0.000000,0.0,0.000000
36,TABAQUITE,26775,19727,0.736769,67,19660,5350,0.272126,14310.0,0.727874,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
37,TOBAGO EAST,20424,13233,0.647914,61,13172,5523,0.419299,0.0,0.000000,...,0.0,0.000000,7649.0,0.580701,0.0,0.000000,0.0,0.000000,0.0,0.000000
38,TOBAGO WEST,23674,14545,0.614387,41,14504,6782,0.467595,0.0,0.000000,...,0.0,0.000000,7722.0,0.532405,0.0,0.000000,0.0,0.000000,0.0,0.000000
39,TOCO/SANGRE GRANDE,27298,18069,0.661917,44,18025,8625,0.478502,9325.0,0.517337,...,75.0,0.004161,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
40,TUNAPUNA,25191,18662,0.740820,67,18595,8149,0.438236,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
41,TOTAL,1041224,726801,0.698026,2666,724135,287458,0.396967,316600.0,0.437211,...,2098.0,0.002897,15371.0,0.021227,34.0,0.000047,280.0,0.000387,29.0,0.000040

In [21]:
cols = [
            'ELECTORAL_DISTRICT', 'ELECTORATE', 'TOTAL_NUMBER_OF_VOTES_CAST',
            'VOTER_TURNOUT', 'REJECTED_BALLOTS', 'VALID_VOTES', 'P.N.M._VOTES',
            'P.N.M._VOTES_%', 'U.N.C._VOTES','U.N.C._VOTES_%', 'C.O.P._VOTES', 
            'C.O.P._VOTES_%', 'I.L.P._VOTES', 'I.L.P._VOTES_%', 'N.J.A.C._VOTES',
            'N.J.A.C._VOTES_%','D.D.P._VOTES', 'D.D.P._VOTES_%', 'I.D.P._VOTES',
            'I.D.P._VOTES_%', 'I.N.D_VOTES', 'I.N.D._VOTES_%', 'L.O.V.E._VOTES',
            'L.O.V.E._VOTES_%', 'N.C.T._VOTES', 'N.C.T._VOTES_%','N.N.V._VOTES',
            'N.N.V._VOTES_%','T.F._VOTES', 'T.F._VOTES_%', 'T.O.P._VOTES', 
            'T.O.P._VOTES_%', 'T.H.C._VOTES', 'T.H.C._VOTES_%', 'T.N.V._VOTES',
            'T.N.V._VOTES_%', 'T.P.T._VOTES', 'T.P.T._VOTES_%', 'Y.E.P._VOTES', 
            'Y.E.P._VOTES_%', 'Y.O.U.R._VOTES', 'Y.O.U.R._VOTES_%',
        ]
sht_15 = sheet_3
sht_15.columns = cols
sht_15.fillna(0, inplace=True)
sht_15

,ELECTORAL_DISTRICT,ELECTORATE,TOTAL_NUMBER_OF_VOTES_CAST,VOTER_TURNOUT,REJECTED_BALLOTS,VALID_VOTES,P.N.M._VOTES,P.N.M._VOTES_%,U.N.C._VOTES,U.N.C._VOTES_%,...,T.H.C._VOTES,T.H.C._VOTES_%,T.N.V._VOTES,T.N.V._VOTES_%,T.P.T._VOTES,T.P.T._VOTES_%,Y.E.P._VOTES,Y.E.P._VOTES_%,Y.O.U.R._VOTES,Y.O.U.R._VOTES_%
0,ARIMA,25555,15761,0.616748,56,15705,10879,0.695200,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
1,AROUCA/MALONEY,26321,18250,0.693363,50,18200,14843,0.815500,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
2,BARATARIA/SAN JUAN,25529,16970,0.664734,32,16938,8182,0.483056,8722.0,0.514937,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,34.0,0.002007,0.0,0.000000
3,CARONI CENTRAL,27887,19731,0.707534,37,19694,7206,0.365898,12349.0,0.627044,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,CARONI EAST,27602,18863,0.683393,41,18822,5095,0.270694,13525.0,0.718574,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
5,CHAGUANAS EAST,25488,17942,0.703939,27,17915,7860,0.438738,9284.0,0.518225,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
6,CHAGUANAS WEST,27704,20179,0.728379,65,20114,2190,0.108879,17506.0,0.870339,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
7,COUVA NORTH,29284,20816,0.710832,46,20770,6749,0.324940,13845.0,0.666586,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
8,COUVA SOUTH,28499,20186,0.708306,50,20136,6070,0.301450,13889.0,0.689760,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
9,CUMUTO/MANZANILLA,28152,20004,0.710571,75,19929,8282,0.415575,11461.0,0.575092,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
10,D'ABADIE/O'MEARA,29073,19535,0.671929,47,19488,12929,0.663434,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
11,DIEGO MARTIN CENTRAL,29350,17334,0.590596,120,17214,13258,0.770187,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
12,DIEGO MARTIN NORTH/EAST,28067,17145,0.610860,78,17067,12015,0.703990,4949.0,0.289975,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
13,DIEGO MARTIN WEST,29349,17026,0.580122,119,16907,12855,0.760336,0.0,0.000000,...,83.0,0.004909,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
14,FYZABAD,27023,20150,0.745661,60,20090,8114,0.403883,11916.0,0.593131,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
15,LA BREA,25197,17487,0.694011,77,17410,11558,0.663871,5735.0,0.329408,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
16,LA HORQUETTA/TALPARO,26031,18196,0.699013,61,18135,10428,0.575021,7606.0,0.419410,...,0.0,0.000000,101.0,0.005569,0.0,0.000000,0.0,0.000000,0.0,0.000000
17,LAVENTILLE EAST/MORVANT,27815,15799,0.568003,62,15737,13662,0.868145,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
18,LAVENTILLE WEST,26450,14673,0.554745,41,14632,13084,0.894204,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
19,LOPINOT/BON AIR WEST,26564,18414,0.693194,52,18362,11487,0.625585,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
20,MAYARO,27940,20679,0.740122,74,20605,8836,0.428828,11730.0,0.569279,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
21,MORUGA/TABLELAND,27913,21188,0.759073,56,21132,10808,0.511452,10275.0,0.486229,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
22,NAPARIMA,26527,18270,0.688732,48,18222,3100,0.170124,15040.0,0.825376,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
23,OROPOUCHE EAST,27298,19041,0.697524,57,18984,3795,0.199905,15189.0,0.800095,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
24,OROPOUCHE WEST,24348,17001,0.698250,47,16954,4349,0.256518,12605.0,0.743482,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
25,POINT FORTIN,25505,17936,0.703235,53,17883,10813,0.604652,7070.0,0.395348,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
26,POINTE-A-PIERRE,24578,18009,0.732728,47,17962,8204,0.456742,9710.0,0.540586,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
27,PORT-OF-SPAIN NORTH/ST. ANN'S WEST,24123,13273,0.550222,109,13164,10946,0.831510,2218.0,0.168490,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
28,PORT-OF-SPAIN SOUTH,23778,12353,0.519514,63,12290,9843,0.800895,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,74.0,0.006021
29,PRINCES TOWN,26473,18736,0.707740,53,18683,6015,0.321950,12668.0,0.678050,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
30,SAN FERNANDO EAST,24969,17003,0.680964,40,16963,11502,0.678064,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
31,SAN FERNANDO WEST,24493,17116,0.698812,47,17069,10112,0.592419,6802.0,0.398500,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
32,SIPARIA,27920,19717,0.706196,66,19651,4755,0.241972,14896.0,0.758028,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
33,ST. ANN'S EAST,28449,17269,0.607016,69,17200,13382,0.778023,3655.0,0.212500,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
34,ST. AUGUSTINE,27224,19192,0.704966,69,19123,6186,0.323485,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
35,ST. JOSEPH,27653,19648,0.710520,55,19593,10536,0.537743,8903.0,0.454397,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
36,TABAQUITE,28217,19598,0.694546,68,19530,6726,0.344393,12804.0,0.655607,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
37,TOBAGO EAST,21981,11494,0.522906,51,11443,7951,0.694835,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,112.0,0.009788,0.0,0.000000,0.0,0.000000
38,TOBAGO WEST,26151,13455,0.514512,59,13396,10609,0.791953,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,357.0,0.026650,0.0,0.000000,0.0,0.000000
39,TOCO/SANGRE GRANDE,30149,20400,0.676639,68,20332,12005,0.590449,8101.0,0.398436,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
40,TUNAPUNA,26650,18953,0.711182,57,18896,11228,0.594200,7613.0,0.402890,...,55.0,0.002911,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
41,TOTAL,1099279,734792,0.668431,2452,732340,378447,0.516764,290066.0,0.396081,...,138.0,0.000188,101.0,0.000138,469.0,0.000640,34.0,0.000046,74.0,0.000101

2020

In [22]:
cols = [
            'ELECTORAL_DISTRICT', 'ELECTORATE', 'TOTAL_NUMBER_OF_VOTES_CAST',
            'VOTER_TURNOUT', 'REJECTED_BALLOTS', 'VALID_VOTES', 'P.N.M._VOTES',
            'P.N.M._VOTES_%', 'U.N.C._VOTES','U.N.C._VOTES_%','P.E.P._VOTES', 
            'P.E.P._VOTES_%', 'C.O.P._VOTES', 'C.O.P._VOTES_%', 'I.L.P._VOTES', 
            'I.L.P._VOTES_%', 'D.P.T._VOTES', 'D.P.T._VOTES_%', 'I.N.D_VOTES', 
            'I.N.D._VOTES_%','M.N.D._VOTES', 'M.N.D._VOTES_%', 'M.S.J._VOTES',
            'M.S.J._VOTES_%', 'N.C.T._VOTES', 'N.C.T._VOTES_%','N.N.V._VOTES',
            'N.N.V._VOTES_%','N.O.W._VOTES', 'N.O.W._VOTES_%', 'O.T.V._VOTES', 
            'O.T.V._VOTES_%', 'P.D.P._VOTES', 'P.D.P._VOTES_%', 'P.P._VOTES', 
            'P.P._VOTES_%', 'T.D.F._VOTES', 'T.D.F._VOTES_%', 'T.H.C._VOTES', 
            'T.H.C._VOTES_%', 'T.N.P._VOTES', 'T.N.P._VOTES_%', 'U.P.P._VOTES', 
            'U.P.P._VOTES_%', 'U.T.P._VOTES', 'U.T.P._VOTES_%'
        ]
sht_20 = sheet_4
sht_20.columns = cols
sht_20.fillna(0, inplace=True)
sht_20

,ELECTORAL_DISTRICT,ELECTORATE,TOTAL_NUMBER_OF_VOTES_CAST,VOTER_TURNOUT,REJECTED_BALLOTS,VALID_VOTES,P.N.M._VOTES,P.N.M._VOTES_%,U.N.C._VOTES,U.N.C._VOTES_%,...,T.D.F._VOTES,T.D.F._VOTES_%,T.H.C._VOTES,T.H.C._VOTES_%,T.N.P._VOTES,T.N.P._VOTES_%,U.P.P._VOTES,U.P.P._VOTES_%,U.T.P._VOTES,U.T.P._VOTES_%
0,ARIMA,26382,13488,0.511258,30,13458,9293,0.695200,3858.0,0.286670,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
1,AROUCA/MALONEY,26673,15522,0.581937,57,15465,12697,0.815500,2768.0,0.178985,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
2,BARATARIA/SAN JUAN,25690,15771,0.613896,27,15744,7240,0.459858,8300.0,0.527185,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
3,CARONI CENTRAL,30107,18677,0.620354,31,18646,6890,0.369516,11511.0,0.617344,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,CARONI EAST,29031,17416,0.599910,30,17386,4271,0.245657,12819.0,0.737317,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
5,CHAGUANAS EAST,26923,17125,0.636073,53,17072,7882,0.461692,8968.0,0.525305,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
6,CHAGUANAS WEST,28625,17566,0.613659,48,17518,1878,0.107204,15502.0,0.884918,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
7,COUVA NORTH,29864,18238,0.610702,25,18213,5222,0.286718,12633.0,0.693625,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
8,COUVA SOUTH,30348,18281,0.602379,36,18245,5542,0.303754,12597.0,0.690436,...,0.0,0.000000,106.0,0.005810,0.0,0.000000,0.0,0.000000,0.0,0.000000
9,CUMUTO/MANZANILLA,30468,18702,0.613824,51,18651,7557,0.405179,10901.0,0.584473,...,0.0,0.000000,35.0,0.001877,0.0,0.000000,0.0,0.000000,0.0,0.000000
10,D'ABADIE/O'MEARA,30788,17843,0.579544,57,17786,11864,0.667041,5783.0,0.325143,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
11,DIEGO MARTIN CENTRAL,29609,14347,0.484549,60,14287,10627,0.743823,2693.0,0.188493,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
12,DIEGO MARTIN NORTH/EAST,29273,13858,0.473406,35,13823,10218,0.739203,2827.0,0.204514,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
13,DIEGO MARTIN WEST,29886,13948,0.466707,39,13909,10791,0.775829,2569.0,0.184701,...,0.0,0.000000,93.0,0.006686,0.0,0.000000,0.0,0.000000,0.0,0.000000
14,FYZABAD,27447,18045,0.657449,37,18008,6888,0.382497,10850.0,0.602510,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
15,LA BREA,26008,15571,0.598700,71,15500,9342,0.602710,5735.0,0.370000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
16,LA HORQUETTA/TALPARO,27528,17678,0.642183,30,17648,9713,0.550374,7790.0,0.441410,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
17,LAVENTILLE EAST/MORVANT,26644,12568,0.471701,39,12529,10356,0.826562,1965.0,0.156836,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
18,LAVENTILLE WEST,25585,11171,0.436623,23,11148,9310,0.835127,1324.0,0.118766,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
19,LOPINOT/BON AIR WEST,27864,17171,0.616243,36,17135,9608,0.560724,3587.0,0.209338,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
20,MAYARO,28834,18036,0.625512,81,17955,7229,0.402618,10593.0,0.589975,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
21,MORUGA/TABLELAND,29043,20125,0.692938,68,20057,9462,0.471755,10534.0,0.525203,...,0.0,0.000000,12.0,0.000598,0.0,0.000000,0.0,0.000000,0.0,0.000000
22,NAPARIMA,27066,16046,0.592847,54,15992,2686,0.167959,13306.0,0.832041,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
23,OROPOUCHE EAST,28271,17205,0.608574,52,17153,3416,0.199149,13737.0,0.800851,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
24,OROPOUCHE WEST,25289,15534,0.614259,41,15493,3708,0.239334,11535.0,0.744530,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
25,POINT FORTIN,26003,15696,0.603623,36,15660,9276,0.592337,5761.0,0.367880,...,20.0,0.001277,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
26,POINTE-A-PIERRE,25096,16615,0.662058,37,16578,7357,0.443781,8869.0,0.534986,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
27,PORT-OF-SPAIN NORTH/ST. ANN'S WEST,25003,11685,0.467344,47,11638,9475,0.814143,1705.0,0.146503,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,73.0,0.006273,0.0,0.000000
28,PORT-OF-SPAIN SOUTH,24754,10480,0.423366,26,10454,8202,0.784580,1850.0,0.176966,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
29,PRINCES TOWN,27178,16229,0.597137,32,16197,4708,0.290671,11280.0,0.696425,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
30,SAN FERNANDO EAST,25008,14589,0.583373,36,14553,9864,0.677798,4689.0,0.322202,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
31,SAN FERNANDO WEST,25035,15515,0.619732,45,15470,8457,0.546671,6651.0,0.429929,...,0.0,0.000000,0.0,0.000000,23.0,0.001487,0.0,0.000000,0.0,0.000000
32,SIPARIA,28663,17398,0.606985,56,17342,3855,0.222293,13487.0,0.777707,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
33,ST. ANN'S EAST,29454,14790,0.502139,46,14744,10979,0.744642,3438.0,0.233180,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
34,ST. AUGUSTINE,28094,17706,0.630241,43,17663,5264,0.298024,11943.0,0.676159,...,0.0,0.000000,33.0,0.001868,0.0,0.000000,0.0,0.000000,0.0,0.000000
35,ST. JOSEPH,28452,18193,0.639428,49,18144,9354,0.515542,8543.0,0.470844,...,0.0,0.000000,30.0,0.001653,0.0,0.000000,0.0,0.000000,0.0,0.000000
36,TABAQUITE,28832,16920,0.586848,50,16870,5209,0.308773,11440.0,0.678127,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
37,TOBAGO EAST,23102,13112,0.567570,39,13073,7127,0.545169,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
38,TOBAGO WEST,27686,13883,0.501445,24,13859,9275,0.669240,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,40.0,0.002886
39,TOCO/SANGRE GRANDE,31096,18237,0.586474,60,18177,10698,0.588546,7313.0,0.402322,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
40,TUNAPUNA,27433,17317,0.631247,38,17279,9460,0.547485,7534.0,0.436021,...,0.0,0.000000,57.0,0.003299,0.0,0.000000,0.0,0.000000,0.0,0.000000
41,TOTAL,1134135,658297,0.580440,1775,656522,322250,0.490844,309188.0,0.470948,...,20.0,0.000062,366.0,0.001136,23.0,0.000071,73.0,0.000227,40.0,0.000124

## Debt to GDP cleaning

In [23]:
df_debt_annual

,Date,Central Government Domestic Debt to GDP Ratio (%),Central Government External Debt to GDP Ratio (%),Central Government Total Debt to GDP Ratio (%),Contingent Liabilities Debt to GDP Ratio (%),Gross Public Sector Debt to GDP Ratio (%),Net Public Sector Debt to GDP Ratio (%)
0,2024,40.1,19.3,59.4,n.d,n.d,n.d
1,2023,40.6,18.5,59.1,n.d,n.d,n.d
2,2022,41.5,18.3,59.8,n.d,n.d,n.d
3,2021,42.0,17.5,59.4,n.d,n.d,n.d
4,2020,44.0,20.0,64.0,20.6,83.9,76.7
5,2019,44.1,18.7,62.8,21.0,83.4,73.2
6,2018,42.9,16.4,59.3,18.4,77.0,61.3
7,2017,41.7,14.8,56.5,17.8,73.6,58.5
8,2016,42.2,13.4,55.6,19.0,74.7,54.9
9,2015,40.1,8.8,48.8,19.2,68.2,47.8
10,2014,37.5,7.3,44.8,18.3,66.5,45.2
11,2013,28.0,6.8,34.8,16.3,53.6,39.5
12,2012,28.5,5.8,34.3,15.7,51.9,38.6
13,2011,23.1,6.4,29.5,16.3,45.8,32.0
14,2010,28.6,7.5,36.1,16.6,52.9,35.0
15,2009,28.9,7.4,36.3,n.d,n.d,n.d
16,2008,18.5,5.3,23.8,n.d,n.d,n.d
17,2007,20.3,6.3,26.5,n.d,n.d,n.d
18,2006,16.8,6.6,23.4,n.d,n.d,n.d
19,2005,17.9,8.0,25.9,n.d,n.d,n.d
20,2004,20.0,9.8,29.7,n.d,n.d,n.d
21,2003,21.2,14.5,35.7,n.d,n.d,n.d
22,2002,23.0,17.4,40.4,n.d,n.d,n.d
23,2001,23.9,19.4,43.3,n.d,n.d,n.d
24,2000,24.1,21.5,45.6,n.d,n.d,n.d

In [24]:
df_debt_annual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Date                                               25 non-null     int64
 1   Central Government Domestic Debt to GDP Ratio (%)  25 non-null     float64
 2   Central Government External Debt to GDP Ratio (%)  25 non-null     float64
 3   Central Government Total Debt to GDP Ratio (%)     25 non-null     float64
 4   Contingent Liabilities Debt to GDP Ratio (%)       25 non-null     object
 5   Gross Public Sector Debt to GDP Ratio (%)          25 non-null     object
 6   Net Public Sector Debt to GDP Ratio (%)            25 non-null     object
dtypes: float64(3), int64(1), object(3)
memory usage: 1.5+ KB

In [25]:
df_debt_annual["Date"] =pd.to_datetime(df_debt_annual.Date, format='%Y', errors="coerce").dt.date
df_debt_annual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Date                                               25 non-null     object
 1   Central Government Domestic Debt to GDP Ratio (%)  25 non-null     float64
 2   Central Government External Debt to GDP Ratio (%)  25 non-null     float64
 3   Central Government Total Debt to GDP Ratio (%)     25 non-null     float64
 4   Contingent Liabilities Debt to GDP Ratio (%)       25 non-null     object
 5   Gross Public Sector Debt to GDP Ratio (%)          25 non-null     object
 6   Net Public Sector Debt to GDP Ratio (%)            25 non-null     object
dtypes: float64(3), object(4)
memory usage: 1.5+ KB

In [26]:
# Replace String values with numeric values and convert to float
df_debt_annual[["Contingent Liabilities Debt to GDP Ratio (%)",
                "Gross Public Sector Debt to GDP Ratio (%)",
                "Net Public Sector Debt to GDP Ratio (%)"]] = df_debt_annual[["Contingent Liabilities Debt to GDP Ratio (%)",
                "Gross Public Sector Debt to GDP Ratio (%)",
                "Net Public Sector Debt to GDP Ratio (%)"]].replace("n.d",0)

df_debt_annual[["Contingent Liabilities Debt to GDP Ratio (%)",
                "Gross Public Sector Debt to GDP Ratio (%)",
                "Net Public Sector Debt to GDP Ratio (%)"]] = df_debt_annual[["Contingent Liabilities Debt to GDP Ratio (%)",
                "Gross Public Sector Debt to GDP Ratio (%)",
                "Net Public Sector Debt to GDP Ratio (%)"]].astype(float)

In [27]:
df_debt_annual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 7 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   Date                                               25 non-null     object
 1   Central Government Domestic Debt to GDP Ratio (%)  25 non-null     float64
 2   Central Government External Debt to GDP Ratio (%)  25 non-null     float64
 3   Central Government Total Debt to GDP Ratio (%)     25 non-null     float64
 4   Contingent Liabilities Debt to GDP Ratio (%)       25 non-null     float64
 5   Gross Public Sector Debt to GDP Ratio (%)          25 non-null     float64
 6   Net Public Sector Debt to GDP Ratio (%)            25 non-null     float64
dtypes: float64(6), object(1)
memory usage: 1.5+ KB

In [28]:
df_debt_annual.describe()

,Central Government Domestic Debt to GDP Ratio (%),Central Government External Debt to GDP Ratio (%),Central Government Total Debt to GDP Ratio (%),Contingent Liabilities Debt to GDP Ratio (%),Gross Public Sector Debt to GDP Ratio (%),Net Public Sector Debt to GDP Ratio (%)
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000
mean,31.180000,12.628000,43.792000,7.968000,29.260000,22.508000
std,9.923667,5.671752,13.722303,9.245482,34.792983,27.686427
min,16.800000,5.300000,23.400000,0.000000,0.000000,0.000000
25%,23.000000,7.300000,34.300000,0.000000,0.000000,0.000000
50%,28.600000,13.400000,43.300000,0.000000,0.000000,0.000000
75%,41.500000,18.300000,59.100000,17.800000,66.500000,45.200000
max,44.100000,21.500000,64.000000,21.000000,83.900000,76.700000

In [29]:
df_debt_annual.isna().sum()

Date                                                 0
Central Government Domestic Debt to GDP Ratio (%)    0
Central Government External Debt to GDP Ratio (%)    0
Central Government Total Debt to GDP Ratio (%)       0
Contingent Liabilities Debt to GDP Ratio (%)         0
Gross Public Sector Debt to GDP Ratio (%)            0
Net Public Sector Debt to GDP Ratio (%)              0
dtype: int64

In [30]:
df_debt_annual.isna().any()

Date                                                 False
Central Government Domestic Debt to GDP Ratio (%)    False
Central Government External Debt to GDP Ratio (%)    False
Central Government Total Debt to GDP Ratio (%)       False
Contingent Liabilities Debt to GDP Ratio (%)         False
Gross Public Sector Debt to GDP Ratio (%)            False
Net Public Sector Debt to GDP Ratio (%)              False
dtype: bool

The data for debt to gdp looks cleaned enough.

## GDP

In [31]:
df_gdp

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2023,2.737229e+10,,,0
1,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2022,3.005345e+10,,,0
2,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2021,2.449640e+10,,,0
3,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2020,2.080772e+10,,,0
4,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2019,2.377566e+10,,,0
5,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2018,2.456926e+10,,,0
6,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2017,2.404021e+10,,,0
7,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2016,2.372268e+10,,,0
8,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2015,2.702675e+10,,,0
9,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2014,2.969767e+10,,,0
10,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2013,2.870986e+10,,,0
11,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2012,2.733457e+10,,,0
12,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2011,2.543301e+10,,,0
13,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2010,2.215792e+10,,,0
14,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2009,1.917217e+10,,,0
15,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2008,2.787159e+10,,,0
16,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2007,2.164162e+10,,,0
17,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2006,1.836936e+10,,,0
18,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2005,1.598239e+10,,,0
19,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2004,1.328029e+10,,,0
20,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2003,1.130546e+10,,,0
21,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2002,9.008298e+09,,,0
22,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2001,8.824849e+09,,,0
23,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2000,8.154342e+09,,,0
24,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1999,6.808983e+09,,,0
25,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1998,6.043687e+09,,,0
26,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1997,5.737772e+09,,,0
27,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1996,5.759570e+09,,,0
28,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1995,5.329218e+09,,,0
29,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1994,4.947182e+09,,,0
30,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1993,4.669491e+09,,,0
31,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1992,5.439553e+09,,,0
32,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1991,5.307906e+09,,,0
33,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1990,5.068000e+09,,,0
34,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1989,4.323059e+09,,,0
35,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1988,4.496911e+09,,,0
36,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1987,4.797778e+09,,,0
37,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1986,4.794444e+09,,,0
38,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1985,7.375918e+09,,,0
39,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1984,7.757083e+09,,,0
40,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1983,7.763750e+09,,,0
41,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1982,8.140417e+09,,,0
42,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1981,6.992083e+09,,,0
43,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1980,6.235833e+09,,,0
44,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1979,4.602417e+09,,,0
45,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1978,3.562333e+09,,,0
46,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1977,3.138667e+09,,,0
47,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1976,2.500425e+09,,,0
48,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1975,2.442670e+09,,,0
49,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1974,2.042001e+09,,,0

In [32]:
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator        50 non-null     object
 1   country          50 non-null     object
 2   countryiso3code  50 non-null     object
 3   date             50 non-null     object
 4   value            50 non-null     float64
 5   unit             50 non-null     object
 6   obs_status       50 non-null     object
 7   decimal          50 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 3.3+ KB

In [33]:
df_gdp["date"] = pd.to_datetime(df_gdp.date, format='%Y', errors="coerce").dt.date
df_gdp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator        50 non-null     object
 1   country          50 non-null     object
 2   countryiso3code  50 non-null     object
 3   date             50 non-null     object
 4   value            50 non-null     float64
 5   unit             50 non-null     object
 6   obs_status       50 non-null     object
 7   decimal          50 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 3.3+ KB

In [34]:
df_gdp.isna().sum()

indicator          0
country            0
countryiso3code    0
date               0
value              0
unit               0
obs_status         0
decimal            0
dtype: int64

In [35]:
df_gdp.isna().all()

indicator          False
country            False
countryiso3code    False
date               False
value              False
unit               False
obs_status         False
decimal            False
dtype: bool

In [36]:
df_gdp.describe()

              value  decimal
count  5.000000e+01     50.0
mean   1.297770e+10      0.0
std    9.489073e+09      0.0
min    2.042001e+09      0.0
25%    5.127976e+09      0.0
50%    7.952083e+09      0.0
75%    2.333149e+10      0.0
max    3.005345e+10      0.0

## Inflation

In [37]:
df_inflation

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2023,4.629302,,,1
1,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2022,5.828386,,,1
2,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2021,2.059227,,,1
3,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2020,0.598986,,,1
4,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2019,1.000543,,,1
5,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2018,1.018569,,,1
6,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2017,1.880384,,,1
7,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2016,3.070667,,,1
8,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2015,4.661216,,,1
9,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2014,5.684418,,,1
10,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2013,5.199817,,,1
11,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2012,9.260281,,,1
12,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2011,5.107133,,,1
13,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2010,10.549200,,,1
14,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2009,6.978087,,,1
15,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2008,12.030345,,,1
16,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2007,7.894388,,,1
17,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2006,8.329604,,,1
18,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2005,6.874535,,,1
19,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2004,3.721549,,,1
20,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2003,3.811106,,,1
21,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2002,4.150059,,,1
22,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2001,5.536653,,,1
23,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2000,3.555413,,,1
24,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1999,3.439136,,,1
25,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1998,5.612709,,,1
26,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1997,3.626079,,,1
27,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1996,3.404574,,,1
28,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1995,5.182205,,,1
29,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1994,8.814694,,,1
30,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1993,10.835236,,,1
31,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1992,6.439854,,,1
32,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1991,3.783102,,,1
33,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1990,11.064426,,,1
34,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1989,11.432132,,,1
35,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1988,7.758492,,,1
36,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1987,10.751859,,,1
37,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1986,7.693677,,,1
38,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1985,7.622574,,,1
39,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1984,13.334780,,,1
40,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1983,15.175000,,,1
41,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1982,11.634763,,,1
42,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1981,14.331887,,,1
43,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1980,17.470304,,,1
44,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1979,14.722170,,,1
45,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1978,10.256586,,,1
46,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1977,11.744864,,,1
47,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1976,10.692464,,,1
48,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1975,16.979060,,,1
49,"{'id': 'FP.CPI.TOTL.ZG', 'value': 'Inflation, ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1974,22.024977,,,1

In [38]:
df_inflation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator        50 non-null     object
 1   country          50 non-null     object
 2   countryiso3code  50 non-null     object
 3   date             50 non-null     object
 4   value            50 non-null     float64
 5   unit             50 non-null     object
 6   obs_status       50 non-null     object
 7   decimal          50 non-null     int64
dtypes: float64(1), int64(1), object(6)
memory usage: 3.3+ KB

In [39]:
df_inflation["data"] = pd.to_datetime(df_inflation.date, format='%Y', errors="coerce").dt.date
df_inflation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   indicator        50 non-null     object
 1   country          50 non-null     object
 2   countryiso3code  50 non-null     object
 3   date             50 non-null     object
 4   value            50 non-null     float64
 5   unit             50 non-null     object
 6   obs_status       50 non-null     object
 7   decimal          50 non-null     int64
 8   data             50 non-null     object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.6+ KB

In [40]:
df_inflation.isna().sum()

indicator          0
country            0
countryiso3code    0
date               0
value              0
unit               0
obs_status         0
decimal            0
data               0
dtype: int64

In [41]:
df_inflation.isna().all()

indicator          False
country            False
countryiso3code    False
date               False
value              False
unit               False
obs_status         False
decimal            False
data               False
dtype: bool

The commented code is for inflation extractedd from the Central Bank of Trinidad and Tobago (CBTT) and is more concise

In [42]:
# df_inflation_annual.info()

In [43]:
# df_inflation_annual.describe()

In [44]:
# df_inflation_annual.isna().sum()

## Unemployment Values cleaning

In [45]:
df_unemployment = pd.read_csv("csvs/tt_unemployment_rate.csv")

# Convert all values in df_unemployment to more readable values
df_unemployment['value'] = df_unemployment['value'].apply(lambda x: round(x, 2))
df_unemployment.rename(columns={'value': 'Unemployment Rate (%)'}, inplace=True)
df_unemployment

,Unnamed: 0,indicator,country,countryiso3code,date,Unemployment Rate (%),unit,obs_status,decimal
0,0,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2023,4.21,NaN,NaN,1
1,1,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2022,4.38,NaN,NaN,1
2,2,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2021,4.45,NaN,NaN,1
3,3,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2020,4.21,NaN,NaN,1
4,4,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2019,3.52,NaN,NaN,1
5,5,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2018,3.50,NaN,NaN,1
6,6,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2017,3.39,NaN,NaN,1
7,7,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2016,3.21,NaN,NaN,1
8,8,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2015,2.43,NaN,NaN,1
9,9,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2014,2.48,NaN,NaN,1
10,10,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2013,2.68,NaN,NaN,1
11,11,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2012,3.72,NaN,NaN,1
12,12,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2011,3.42,NaN,NaN,1
13,13,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2010,4.03,NaN,NaN,1
14,14,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2009,5.28,NaN,NaN,1
15,15,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2008,4.63,NaN,NaN,1
16,16,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2007,5.54,NaN,NaN,1
17,17,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2006,6.27,NaN,NaN,1
18,18,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2005,7.95,NaN,NaN,1
19,19,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2004,8.33,NaN,NaN,1
20,20,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2003,10.48,NaN,NaN,1
21,21,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2002,10.39,NaN,NaN,1
22,22,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2001,10.88,NaN,NaN,1
23,23,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2000,12.10,NaN,NaN,1
24,24,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1999,13.12,NaN,NaN,1
25,25,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1998,14.21,NaN,NaN,1
26,26,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1997,15.01,NaN,NaN,1
27,27,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1996,16.25,NaN,NaN,1
28,28,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1995,17.22,NaN,NaN,1
29,29,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1994,18.44,NaN,NaN,1
30,30,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1993,19.81,NaN,NaN,1
31,31,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1992,19.66,NaN,NaN,1
32,32,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1991,18.52,NaN,NaN,1
33,33,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1990,NaN,NaN,NaN,1
34,34,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1989,NaN,NaN,NaN,1
35,35,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1988,NaN,NaN,NaN,1
36,36,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1987,NaN,NaN,NaN,1
37,37,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1986,NaN,NaN,NaN,1
38,38,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1985,NaN,NaN,NaN,1
39,39,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1984,NaN,NaN,NaN,1
40,40,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1983,NaN,NaN,NaN,1
41,41,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1982,NaN,NaN,NaN,1
42,42,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1981,NaN,NaN,NaN,1
43,43,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1980,NaN,NaN,NaN,1
44,44,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1979,NaN,NaN,NaN,1
45,45,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1978,NaN,NaN,NaN,1
46,46,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1977,NaN,NaN,NaN,1
47,47,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1976,NaN,NaN,NaN,1
48,48,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1975,NaN,NaN,NaN,1
49,49,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1974,NaN,NaN,NaN,1

In [46]:
df_unemployment = df_unemployment.drop(columns={"unit", "obs_status", "decimal"})
df_unemployment

,Unnamed: 0,indicator,country,countryiso3code,date,Unemployment Rate (%)
0,0,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2023,4.21
1,1,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2022,4.38
2,2,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2021,4.45
3,3,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2020,4.21
4,4,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2019,3.52
5,5,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2018,3.50
6,6,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2017,3.39
7,7,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2016,3.21
8,8,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2015,2.43
9,9,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2014,2.48
10,10,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2013,2.68
11,11,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2012,3.72
12,12,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2011,3.42
13,13,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2010,4.03
14,14,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2009,5.28
15,15,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2008,4.63
16,16,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2007,5.54
17,17,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2006,6.27
18,18,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2005,7.95
19,19,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2004,8.33
20,20,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2003,10.48
21,21,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2002,10.39
22,22,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2001,10.88
23,23,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2000,12.10
24,24,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1999,13.12
25,25,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1998,14.21
26,26,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1997,15.01
27,27,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1996,16.25
28,28,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1995,17.22
29,29,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1994,18.44
30,30,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1993,19.81
31,31,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1992,19.66
32,32,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1991,18.52
33,33,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1990,NaN
34,34,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1989,NaN
35,35,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1988,NaN
36,36,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1987,NaN
37,37,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1986,NaN
38,38,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1985,NaN
39,39,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1984,NaN
40,40,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1983,NaN
41,41,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1982,NaN
42,42,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1981,NaN
43,43,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1980,NaN
44,44,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1979,NaN
45,45,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1978,NaN
46,46,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1977,NaN
47,47,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1976,NaN
48,48,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1975,NaN
49,49,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1974,NaN

In [47]:
df_unemployment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             50 non-null     int64
 1   indicator              50 non-null     object
 2   country                50 non-null     object
 3   countryiso3code        50 non-null     object
 4   date                   50 non-null     int64
 5   Unemployment Rate (%)  33 non-null     float64
dtypes: float64(1), int64(2), object(3)
memory usage: 2.5+ KB

In [48]:
df_unemployment["date"] = pd.to_datetime(df_unemployment.date, format='%Y', errors="coerce").dt.date
df_unemployment.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             50 non-null     int64
 1   indicator              50 non-null     object
 2   country                50 non-null     object
 3   countryiso3code        50 non-null     object
 4   date                   50 non-null     object
 5   Unemployment Rate (%)  33 non-null     float64
dtypes: float64(1), int64(1), object(4)
memory usage: 2.5+ KB

In [49]:
df_unemployment.isna().sum()

Unnamed: 0                0
indicator                 0
country                   0
countryiso3code           0
date                      0
Unemployment Rate (%)    17
dtype: int64

Since we are only looking at 2000/2002 onward we can drop all the empty rows since they are not part of our dataset

In [50]:
df_unemployment.dropna(subset=['Unemployment Rate (%)'], inplace=True)
df_unemployment.isna().sum()

Unnamed: 0               0
indicator                0
country                  0
countryiso3code          0
date                     0
Unemployment Rate (%)    0
dtype: int64

In [51]:
df_unemployment.isna().all()

Unnamed: 0               False
indicator                False
country                  False
countryiso3code          False
date                     False
Unemployment Rate (%)    False
dtype: bool

In [52]:
df_unemployment

,Unnamed: 0,indicator,country,countryiso3code,date,Unemployment Rate (%)
0,0,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2023-01-01,4.21
1,1,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2022-01-01,4.38
2,2,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2021-01-01,4.45
3,3,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2020-01-01,4.21
4,4,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2019-01-01,3.52
5,5,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2018-01-01,3.50
6,6,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2017-01-01,3.39
7,7,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2016-01-01,3.21
8,8,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2015-01-01,2.43
9,9,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2014-01-01,2.48
10,10,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2013-01-01,2.68
11,11,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2012-01-01,3.72
12,12,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2011-01-01,3.42
13,13,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2010-01-01,4.03
14,14,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2009-01-01,5.28
15,15,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2008-01-01,4.63
16,16,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2007-01-01,5.54
17,17,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2006-01-01,6.27
18,18,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2005-01-01,7.95
19,19,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2004-01-01,8.33
20,20,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2003-01-01,10.48
21,21,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2002-01-01,10.39
22,22,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2001-01-01,10.88
23,23,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2000-01-01,12.10
24,24,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1999-01-01,13.12
25,25,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1998-01-01,14.21
26,26,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1997-01-01,15.01
27,27,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1996-01-01,16.25
28,28,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1995-01-01,17.22
29,29,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1994-01-01,18.44
30,30,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1993-01-01,19.81
31,31,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1992-01-01,19.66
32,32,"{'id': 'SL.UEM.TOTL.ZS', 'value': 'Unemploymen...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1991-01-01,18.52

In [53]:
df_unemployment.describe()

       Unnamed: 0  Unemployment Rate (%)
count    33.00000              33.000000
mean     16.00000               8.597576
std       9.66954               5.860312
min       0.00000               2.430000
25%       8.00000               3.720000
50%      16.00000               5.540000
75%      24.00000              13.120000
max      32.00000              19.810000

The commented code is for inflation extractedd from the Central Bank of Trinidad and Tobago (CBTT) and is more concise

In [54]:
# df_unemployment_annual.info()

In [55]:
# df_unemployment_annual.describe()

In [56]:
# df_unemployment_annual.isna().sum()

In [57]:
# df_unemployment_annual.isna().any()

## Government Expenditure

In [58]:
df_expenditure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Date                                            25 non-null     int64
 1   Central Government Total Expenditure (TT$Mn)    25 non-null     float64
 2   Central Government Current Expenditure (TT$Mn)  25 non-null     float64
 3   Total Revenue as a Per Cent of GDP              25 non-null     float64
 4   Total Expenditure as a Per Cent of GDP          25 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 1.1 KB

In [59]:
df_expenditure['Date'] = pd.to_datetime(df_expenditure.Date, format='%Y', errors="coerce").dt.date
df_expenditure.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 5 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Date                                            25 non-null     object
 1   Central Government Total Expenditure (TT$Mn)    25 non-null     float64
 2   Central Government Current Expenditure (TT$Mn)  25 non-null     float64
 3   Total Revenue as a Per Cent of GDP              25 non-null     float64
 4   Total Expenditure as a Per Cent of GDP          25 non-null     float64
dtypes: float64(4), object(1)
memory usage: 1.1+ KB

In [60]:
df_expenditure.isna().sum()

Date                                              0
Central Government Total Expenditure (TT$Mn)      0
Central Government Current Expenditure (TT$Mn)    0
Total Revenue as a Per Cent of GDP                0
Total Expenditure as a Per Cent of GDP            0
dtype: int64

In [61]:
df_expenditure.isna().all()

Date                                              False
Central Government Total Expenditure (TT$Mn)      False
Central Government Current Expenditure (TT$Mn)    False
Total Revenue as a Per Cent of GDP                False
Total Expenditure as a Per Cent of GDP            False
dtype: bool

Given the only important missing values are 2020 and 2000 expenditure values, we can source those two and drop the other rows that we are empty

## Homicide Rate

In [62]:
df_homicide_rate = pd.read_csv(r"csvs\tt_homicide_rate.csv")
df_homicide_rate

    Year  Rate_per_100k_Population Annual_change
0   2021                     29.36        11.73%
1   2020                     26.28       -25.89%
2   2019                     35.46         3.21%
3   2018                     34.36         2.63%
4   2017                     33.48         6.24%
5   2016                     31.51         9.55%
6   2015                     28.76         3.03%
7   2014                     27.92        -1.17%
8   2013                     28.25         6.34%
9   2012                     26.57         7.17%
10  2011                     24.79       -26.09%
11  2010                     33.54        -7.31%
12  2009                     36.18        -7.87%
13  2008                     39.27        39.10%
14  2007                     28.23         4.79%
15  2006                     26.94        -4.43%
16  2005                     28.19        47.60%
17  2004                     19.10        12.90%
18  2003                     16.92        33.17%
19  2002                     12.70        12.62%
20  2001                     11.28        25.24%
21  2000                      9.01        25.24%

In [63]:
df_homicide_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      22 non-null     int64
 1   Rate_per_100k_Population  22 non-null     float64
 2   Annual_change             22 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 660.0+ bytes

In [64]:
df_homicide_rate['Year'] = pd.to_datetime(df_homicide_rate.Year, format='%Y', errors="coerce").dt.date
df_homicide_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      22 non-null     object
 1   Rate_per_100k_Population  22 non-null     float64
 2   Annual_change             22 non-null     object
dtypes: float64(1), object(2)
memory usage: 660.0+ bytes

In [65]:
# convert string percentages to float values
df_homicide_rate["Annual_change"] = (df_homicide_rate["Annual_change"].str.rstrip('%').astype('float') / 100.0).round(4)
df_homicide_rate = df_homicide_rate.rename(columns={"Annual_change":"Annual_change(in percent)"})
df_homicide_rate

          Year  Rate_per_100k_Population  Annual_change(in percent)
0   2021-01-01                     29.36                     0.1173
1   2020-01-01                     26.28                    -0.2589
2   2019-01-01                     35.46                     0.0321
3   2018-01-01                     34.36                     0.0263
4   2017-01-01                     33.48                     0.0624
5   2016-01-01                     31.51                     0.0955
6   2015-01-01                     28.76                     0.0303
7   2014-01-01                     27.92                    -0.0117
8   2013-01-01                     28.25                     0.0634
9   2012-01-01                     26.57                     0.0717
10  2011-01-01                     24.79                    -0.2609
11  2010-01-01                     33.54                    -0.0731
12  2009-01-01                     36.18                    -0.0787
13  2008-01-01                     39.27                     0.3910
14  2007-01-01                     28.23                     0.0479
15  2006-01-01                     26.94                    -0.0443
16  2005-01-01                     28.19                     0.4760
17  2004-01-01                     19.10                     0.1290
18  2003-01-01                     16.92                     0.3317
19  2002-01-01                     12.70                     0.1262
20  2001-01-01                     11.28                     0.2524
21  2000-01-01                      9.01                     0.2524

In [66]:
df_homicide_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 3 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Year                       22 non-null     object
 1   Rate_per_100k_Population   22 non-null     float64
 2   Annual_change(in percent)  22 non-null     float64
dtypes: float64(2), object(1)
memory usage: 660.0+ bytes

In [67]:
df_homicide_rate.describe()

       Rate_per_100k_Population  Annual_change(in percent)
count                 22.000000                  22.000000
mean                  26.731818                   0.080818
std                    8.231610                   0.181969
min                    9.010000                  -0.260900
25%                   25.162500                  -0.002200
50%                   28.210000                   0.062900
75%                   32.987500                   0.128300
max                   39.270000                   0.476000

In [68]:
df_homicide_rate.isna().sum()

Year                         0
Rate_per_100k_Population     0
Annual_change(in percent)    0
dtype: int64

In [69]:
df_homicide_rate.isna().any()

Year                         False
Rate_per_100k_Population     False
Annual_change(in percent)    False
dtype: bool

## Migration Rates

In [70]:
df_migration_rate

    Year  Net Migration Rate Growth Rate
0   2025              -0.568      0.000%
1   2024              -0.568     -0.180%
2   2023              -0.569     -0.350%
3   2022              -0.571     -0.350%
4   2021              -0.573     -0.170%
..   ...                 ...         ...
71  1954              -1.068     -3.170%
72  1953              -1.103     -3.080%
73  1952              -1.138     -2.980%
74  1951              -1.173     -2.820%
75  1950              -1.207      0.000%

[76 rows x 3 columns]

In [71]:
df_migration_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                76 non-null     int64
 1   Net Migration Rate  76 non-null     float64
 2   Growth Rate         76 non-null     object
dtypes: float64(1), int64(1), object(1)
memory usage: 1.9+ KB

In [72]:
df_migration_rate['Year'] = pd.to_datetime(df_migration_rate.Year, format='%Y', errors="coerce").dt.date
df_migration_rate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76 entries, 0 to 75
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Year                76 non-null     object
 1   Net Migration Rate  76 non-null     float64
 2   Growth Rate         76 non-null     object
dtypes: float64(1), object(2)
memory usage: 1.9+ KB

In [73]:
df_migration_rate["Growth Rate"] = (
    df_migration_rate["Growth Rate"]
    .str.rstrip('%')
    .astype('float') / 100.0
).round(4)

df_migration_rate = df_migration_rate.rename(columns={
    "Growth Rate": "Growth Rate(in percent)",
    "Year": "Year",
    "Net Migration Rate": "Net Migration Rate"
})

df_migration_rate

          Year  Net Migration Rate  Growth Rate(in percent)
0   2025-01-01              -0.568                   0.0000
1   2024-01-01              -0.568                  -0.0018
2   2023-01-01              -0.569                  -0.0035
3   2022-01-01              -0.571                  -0.0035
4   2021-01-01              -0.573                  -0.0017
..         ...                 ...                      ...
71  1954-01-01              -1.068                  -0.0317
72  1953-01-01              -1.103                  -0.0308
73  1952-01-01              -1.138                  -0.0298
74  1951-01-01              -1.173                  -0.0282
75  1950-01-01              -1.207                   0.0000

[76 rows x 3 columns]

In [74]:
df_migration_rate.isna().sum()

Year                       0
Net Migration Rate         0
Growth Rate(in percent)    0
dtype: int64

In [75]:
df_migration_rate.isna().any()

Year                       False
Net Migration Rate         False
Growth Rate(in percent)    False
dtype: bool

In [76]:
df_migration_rate.describe()

       Net Migration Rate  Growth Rate(in percent)
count           76.000000                76.000000
mean            -4.712895                 0.016403
std              3.706642                 0.328643
min            -13.205000                -0.430400
25%             -6.237500                -0.061275
50%             -5.315500                -0.004300
75%             -1.094250                 0.007500
max             -0.568000                 2.579100

# Determining values for Model

## Electoral Elasticity Calculations

In [77]:
# get the change in vote share for P.N.M., U.N.C., and C.O.P. between constituencies for the different years
sht_10_share = sht_10[['ELECTORAL_DISTRICT', 'P.N.M._VOTES_%', 'U.N.C._VOTES_%', 'C.O.P._VOTES_%']]
sht_07_share = sht_07[['ELECTORAL_DISTRICT', 'P.N.M._VOTES_%', 'U.N.C._VOTES_%', 'C.O.P._VOTES_%']]
sht_15_share = sht_15[['ELECTORAL_DISTRICT', 'P.N.M._VOTES_%', 'U.N.C._VOTES_%', 'C.O.P._VOTES_%']]
sht_20_share = sht_20[['ELECTORAL_DISTRICT', 'P.N.M._VOTES_%', 'U.N.C._VOTES_%', 'C.O.P._VOTES_%']]

Calculate differences in vote percentages

In [78]:
# calculate the difference in vote share
diff_1 = sht_07_share.set_index('ELECTORAL_DISTRICT').sub(sht_10_share.set_index('ELECTORAL_DISTRICT'), axis=0)
diff_1.reset_index(inplace=True)
diff_1.rename(columns={
	'P.N.M._VOTES_%': 'P.N.M._VOTES_%_CHANGE',
	'U.N.C._VOTES_%': 'U.N.C._VOTES_%_CHANGE',
	'C.O.P._VOTES_%': 'C.O.P._VOTES_%_CHANGE'
}, inplace=True)

diff_2 = sht_10_share.set_index('ELECTORAL_DISTRICT').sub(sht_15_share.set_index('ELECTORAL_DISTRICT'), axis=0)
diff_2.reset_index(inplace=True)
diff_2.rename(columns={
	'P.N.M._VOTES_%': 'P.N.M._VOTES_%_CHANGE',
	'U.N.C._VOTES_%': 'U.N.C._VOTES_%_CHANGE',
	'C.O.P._VOTES_%': 'C.O.P._VOTES_%_CHANGE'
}, inplace=True)

diff_3 = sht_15_share.set_index('ELECTORAL_DISTRICT').sub(sht_20_share.set_index('ELECTORAL_DISTRICT'), axis=0)
diff_3.reset_index(inplace=True)
diff_3.rename(columns={
	'P.N.M._VOTES_%': 'P.N.M._VOTES_%_CHANGE',
	'U.N.C._VOTES_%': 'U.N.C._VOTES_%_CHANGE',
	'C.O.P._VOTES_%': 'C.O.P._VOTES_%_CHANGE'
}, inplace=True)

Output of Elasticity Change in  Percentage

In [79]:
print(diff_1)

                    ELECTORAL_DISTRICT  P.N.M._VOTES_%_CHANGE  \
0                                ARIMA               0.162073
1                       AROUCA/MALONEY               0.086250
2                   BARATARIA/SAN JUAN               0.057792
3                       CARONI CENTRAL               0.015579
4                          CARONI EAST               0.034685
5                       CHAGUANAS EAST               0.044016
6                       CHAGUANAS WEST               0.011856
7                          COUVA NORTH               0.034266
8                          COUVA SOUTH               0.043367
9                    CUMUTO/MANZANILLA               0.051149
10                    D'ABADIE/O'MEARA               0.127238
11                DIEGO MARTIN CENTRAL               0.077128
12             DIEGO MARTIN NORTH/EAST               0.103024
13                   DIEGO MARTIN WEST               0.075248
14                             FYZABAD               0.027769
15                             LA BREA               0.084292
16                LA HORQUETTA/TALPARO               0.113094
17             LAVENTILLE EAST/MORVANT               0.086354
18                     LAVENTILLE WEST               0.084168
19                LOPINOT/BON AIR WEST               0.074651
20                              MAYARO               0.072087
21                    MORUGA/TABLELAND               0.064932
22                            NAPARIMA               0.031878
23                      OROPOUCHE EAST               0.026447
24                      OROPOUCHE WEST               0.022269
25                        POINT FORTIN               0.068860
26                     POINTE-A-PIERRE               0.043284
27  PORT-OF-SPAIN NORTH/ST. ANN'S WEST               0.071077
28                 PORT-OF-SPAIN SOUTH               0.078334
29                        PRINCES TOWN               0.042235
30                   SAN FERNANDO EAST               0.073364
31                   SAN FERNANDO WEST               0.044221
32                             SIPARIA               0.046907
33                      ST. ANN'S EAST               0.116907
34                       ST. AUGUSTINE               0.036667
35                          ST. JOSEPH               0.050409
36                           TABAQUITE               0.026757
37                         TOBAGO EAST               0.106365
38                         TOBAGO WEST               0.116527
39                  TOCO/SANGRE GRANDE               0.096009
40                            TUNAPUNA               0.071547
41                               TOTAL               0.062943

    U.N.C._VOTES_%_CHANGE  C.O.P._VOTES_%_CHANGE
0                0.091528              -0.246383
1                0.093035              -0.172696
2               -0.291133               0.233341
3               -0.280735               0.265156
4               -0.292675               0.257990
5               -0.299814               0.258020
6               -0.305944               0.294088
7               -0.290027               0.255761
8               -0.289213               0.245846
9               -0.225892               0.180085
10               0.161183              -0.291612
11               0.037653              -0.106367
12              -0.424896               0.329399
13               0.033455              -0.100034
14              -0.229639               0.201871
15              -0.191291               0.120797
16              -0.287731               0.179932
17               0.080738              -0.137111
18               0.028429              -0.112597
19               0.249936              -0.324587
20              -0.175838               0.103751
21              -0.144129               0.079198
22              -0.276741               0.244863
23              -0.319569               0.293122
24              -0.278292               0.256022
25               0.167779              -0.236639
26              -0.254368               0.211084
27              -0.360153               0.296068
28               0.048793              -0.106280
29              -0.262600               0.220365
30              -0.276910               0.203546
31               0.157643              -0.194378
32              -0.221179               0.174272
33              -0.336432               0.226825
34               0.396164              -0.432831
35              -0.291707               0.243121
36              -0.339180               0.312422
37               0.000000               0.021918
38               0.000000               0.040164
39              -0.285056               0.193207
40               0.239227              -0.310774
41              -0.138751               0.085866

In [80]:
print(diff_2)

                    ELECTORAL_DISTRICT  P.N.M._VOTES_%_CHANGE  \
0                                ARIMA              -0.213962
1                       AROUCA/MALONEY              -0.143955
2                   BARATARIA/SAN JUAN              -0.101980
3                       CARONI CENTRAL              -0.105534
4                          CARONI EAST              -0.071603
5                       CHAGUANAS EAST              -0.056069
6                       CHAGUANAS WEST              -0.036097
7                          COUVA NORTH              -0.081774
8                          COUVA SOUTH              -0.060608
9                    CUMUTO/MANZANILLA              -0.063669
10                    D'ABADIE/O'MEARA              -0.200642
11                DIEGO MARTIN CENTRAL              -0.245582
12             DIEGO MARTIN NORTH/EAST              -0.193925
13                   DIEGO MARTIN WEST              -0.234241
14                             FYZABAD              -0.042345
15                             LA BREA              -0.095496
16                LA HORQUETTA/TALPARO              -0.110500
17             LAVENTILLE EAST/MORVANT              -0.147192
18                     LAVENTILLE WEST              -0.096731
19                LOPINOT/BON AIR WEST              -0.154241
20                              MAYARO              -0.065525
21                    MORUGA/TABLELAND              -0.084006
22                            NAPARIMA              -0.036933
23                      OROPOUCHE EAST              -0.061822
24                      OROPOUCHE WEST              -0.057466
25                        POINT FORTIN              -0.085206
26                     POINTE-A-PIERRE              -0.067660
27  PORT-OF-SPAIN NORTH/ST. ANN'S WEST              -0.223436
28                 PORT-OF-SPAIN SOUTH              -0.204832
29                        PRINCES TOWN              -0.058878
30                   SAN FERNANDO EAST              -0.063612
31                   SAN FERNANDO WEST              -0.132743
32                             SIPARIA              -0.031380
33                      ST. ANN'S EAST              -0.195804
34                       ST. AUGUSTINE              -0.117774
35                          ST. JOSEPH              -0.120625
36                           TABAQUITE              -0.072267
37                         TOBAGO EAST              -0.275537
38                         TOBAGO WEST              -0.324358
39                  TOCO/SANGRE GRANDE              -0.111946
40                            TUNAPUNA              -0.155964
41                               TOTAL              -0.119797

    U.N.C._VOTES_%_CHANGE  C.O.P._VOTES_%_CHANGE
0                0.000000               0.212913
1                0.000000               0.137366
2                0.103987               0.000000
3                0.112592               0.000000
4                0.082335               0.000000
5                0.096884               0.000000
6                0.056879               0.000000
7                0.090248               0.000000
8                0.069399               0.000000
9                0.067661               0.000000
10               0.000000               0.217371
11               0.000000               0.466980
12               0.192434               0.000000
13               0.000000               0.263485
14               0.045331               0.000000
15               0.088418               0.000000
16               0.110775               0.000000
17               0.000000               0.249065
18               0.000000               0.202527
19               0.000000               0.184140
20               0.067418               0.000000
21               0.086325               0.000000
22               0.041433               0.000000
23               0.061822               0.000000
24               0.057466               0.000000
25              -0.395348               0.480553
26               0.070333               0.000000
27               0.216444               0.000000
28               0.000000               0.188366
29               0.058878               0.000000
30               0.385547              -0.304250
31              -0.398500               0.532838
32               0.031380               0.000000
33               0.197980               0.000000
34               0.000000               0.135083
35               0.126662               0.000000
36               0.072267               0.000000
37               0.000000               0.000000
38               0.000000               0.000000
39               0.118901               0.000000
40              -0.402890               0.561764
41               0.041130               0.081155

In [81]:
print(diff_3)

                    ELECTORAL_DISTRICT  P.N.M._VOTES_%_CHANGE  \
0                                ARIMA               0.000000
1                       AROUCA/MALONEY               0.000000
2                   BARATARIA/SAN JUAN               0.023198
3                       CARONI CENTRAL              -0.003618
4                          CARONI EAST               0.025036
5                       CHAGUANAS EAST              -0.022953
6                       CHAGUANAS WEST               0.001675
7                          COUVA NORTH               0.038222
8                          COUVA SOUTH              -0.002304
9                    CUMUTO/MANZANILLA               0.010396
10                    D'ABADIE/O'MEARA              -0.003608
11                DIEGO MARTIN CENTRAL               0.026364
12             DIEGO MARTIN NORTH/EAST              -0.035213
13                   DIEGO MARTIN WEST              -0.015493
14                             FYZABAD               0.021386
15                             LA BREA               0.061162
16                LA HORQUETTA/TALPARO               0.024647
17             LAVENTILLE EAST/MORVANT               0.041583
18                     LAVENTILLE WEST               0.059077
19                LOPINOT/BON AIR WEST               0.064862
20                              MAYARO               0.026210
21                    MORUGA/TABLELAND               0.039696
22                            NAPARIMA               0.002165
23                      OROPOUCHE EAST               0.000756
24                      OROPOUCHE WEST               0.017184
25                        POINT FORTIN               0.012315
26                     POINTE-A-PIERRE               0.012961
27  PORT-OF-SPAIN NORTH/ST. ANN'S WEST               0.017367
28                 PORT-OF-SPAIN SOUTH               0.016315
29                        PRINCES TOWN               0.031279
30                   SAN FERNANDO EAST               0.000266
31                   SAN FERNANDO WEST               0.045748
32                             SIPARIA               0.019680
33                      ST. ANN'S EAST               0.033381
34                       ST. AUGUSTINE               0.025461
35                          ST. JOSEPH               0.022201
36                           TABAQUITE               0.035620
37                         TOBAGO EAST               0.149666
38                         TOBAGO WEST               0.122713
39                  TOCO/SANGRE GRANDE               0.001903
40                            TUNAPUNA               0.046714
41                               TOTAL               0.025920

    U.N.C._VOTES_%_CHANGE  C.O.P._VOTES_%_CHANGE
0               -0.286670               0.292500
1               -0.178985               0.184500
2               -0.012248               0.000000
3                0.009700               0.000000
4               -0.018743               0.000000
5               -0.007080               0.000000
6               -0.014579               0.000000
7               -0.027039              -0.005436
8               -0.000676               0.000000
9               -0.009381               0.000000
10              -0.325143               0.319838
11              -0.188493               0.000000
12               0.085461              -0.009622
13              -0.184701               0.201751
14              -0.009379               0.000000
15              -0.040592               0.000000
16              -0.022000               0.000000
17              -0.156836               0.000000
18              -0.118766              -0.004216
19              -0.209338               0.344516
20              -0.020696               0.000000
21              -0.038974               0.000000
22              -0.006665               0.000000
23              -0.000756               0.000000
24              -0.001047               0.000000
25               0.027468               0.000000
26               0.005600               0.000000
27               0.021987               0.000000
28              -0.176966               0.188690
29              -0.018376               0.000000
30              -0.322202               0.304250
31              -0.031429               0.000000
32              -0.019680               0.000000
33              -0.020680               0.000000
34              -0.676159               0.648562
35              -0.016447               0.000000
36              -0.022520               0.000000
37               0.000000               0.000000
38               0.000000               0.000000
39              -0.003886               0.000000
40              -0.033131               0.000000
41              -0.074867               0.059358