# COMP 3610 Project

### A PREDICTIVE MODEL FOR ELECTORAL OUTCOMES IN TRINIDAD & TOBAGO

Christophe Gittens  
Maia Neptune       
Zidane Timothy

In [ ]:
# initialize Program
# %pip install requests beautifulsoup4 python-csv
# %pip install pandas

import pandas as pd
import numpy as np
import csv
import os
csvs_path = "csvs"

In [1]:
election_results = pd.read_excel('csvs\collated-tt-election-results.xlsx', sheet_name=['2007', '2010', '2015','2020'], skiprows=[0,1,2,3,4])

# headers = 
# Access individual sheets using sheet names
sheet_1 = election_results['2007']
sheet_2 = election_results['2010']
sheet_3 = election_results['2015']
sheet_4 = election_results['2020']

NameError: name 'pd' is not defined

2015

Sourcing macroeconomic data from the World Bank API. 
We will examine the the impact of the following:
Trinidad and Tobago's Debt to GDP ratio.
Trinidad and Tobago's GDP.
Trinidad and Tobago's Inflation.
Trinidad and Tobago's Government Expenditure
Trinidad and Tobago's Unemployment Rate.

Gdp

In [ ]:
import requests



url = 'https://api.worldbank.org/v2/country/TT/indicator/NY.GDP.MKTP.CD?format=json'
response = requests.get(url)

if response:
    data = response.json()
    tt_gdp = data[1]
    df = pd.DataFrame(tt_gdp)
    df.to_csv(os.path.join(csvs_path,r'tt_gdp.csv'))

else:
    print("Response is not 200.")

Inflation

In [ ]:
url = 'https://api.worldbank.org/v2/country/TT/indicator/FP.CPI.TOTL.ZG?format=json'
response = requests.get(url)

if response:
    data = response.json()
    tt_inflation = data[1]
    df = pd.DataFrame(tt_inflation)
    df.to_csv(os.path.join(csvs_path,r'tt_inflation.csv'))

else:
    print("Response is not 200 for inflation.")

Unemployment rate

In [ ]:
url = 'https://api.worldbank.org/v2/country/TT/indicator/SL.UEM.TOTL.ZS?format=json'
response = requests.get(url)

if response:
    data = response.json()
    tt_unemployment = data[1]
    df = pd.DataFrame(tt_unemployment)
    df.to_csv(os.path.join(csvs_path,r'tt_unemployment_rate.csv'))

else:
    print("Response is not 200.")

Government expenditure

In [ ]:
url = 'https://api.worldbank.org/v2/country/TT/indicator/GC.XPN.TOTL.GD.ZS?format=json'
response = requests.get(url)

if response:
    data = response.json()
    tt_expenditure = data[1]
    df = pd.DataFrame(tt_expenditure)
    df.to_csv(os.path.join(csvs_path,r'tt_gov_expenditure.csv'))

else:
    print("Response is not 200.")

Debt_to_gdp

In [ ]:
url = 'https://api.worldbank.org/v2/country/TT/indicator/GC.XPN.TOTL.GD.ZS?format=json'
response = requests.get(url)

if response:
    data = response.json()
    tt_debt = data[1]
    df = pd.DataFrame(tt_debt)
    df.to_csv(os.path.join(csvs_path,r'tt_debt_to_gdp.csv'))

else:
    print("Response is not 200.")

Homicide rate

In [ ]:
from bs4 import BeautifulSoup

url ='https://www.macrotrends.net/global-metrics/countries/TTO/trinidad-and-tobago/murder-homicide-rate'

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

response = requests.get(url, headers=headers)

if response:
    soup = BeautifulSoup(response.content, 'html.parser')

    div = soup.find('div', {'class': 'col-xs-6'})
    crime_data =[]
    if div:
        table = div.find_all('table', {'class':'historical_data_table table table-striped table-bordered'})
        table = table[0]
    if table:
        for row in table.find_all('tr')[2:]:
            cells = row.find_all('td')
            if len(cells) == 3:
                year = cells[0].get_text(strip=True)
                rate_per_100k = cells[1].get_text(strip=True)
                annual_change = cells[2].get_text(strip=True)
                crime_data.append([year,rate_per_100k,annual_change])

        df = pd.DataFrame(crime_data, columns=['Year','Rate_per_100k_Population','Annual_change'])

        df.to_csv(os.path.join(csvs_path,r'tt_homicide_rate.csv'), index=False)
else:
    print('Response is not 200.')

### District Profile values

Migration Rates

In [ ]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

url = "https://www.macrotrends.net/global-metrics/countries/TTO/trinidad-and-tobago/net-migration#:~:text=The%20net%20migration%20rate%20for,a%200.35%25%20decline%20from%202022."
headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/58.0.3029.110 Safari/537.36"
}

response = requests.get(url, headers=headers)

if response.status_code == 200:
    soup = BeautifulSoup(response.text, "html.parser")
    # print(soup.prettify())  # Check page structure
else:
    print("Failed to fetch page:", response.status_code)

tables = soup.find_all("table")

# Ensure there are at least 2 tables before accessing the second one
if len(tables) >= 2:
    second_table = tables[1]  # Get the second table

    # Convert table to DataFrame
    df = pd.read_html(str(second_table))[0]

    print(df.head())  # Print first few rows
else:
    print("Second table not found!")

df.to_csv(os.path.join(csvs_path,r'tt_migration_rate.csv'), index=False)

  Trinidad And Tobago - Historical Net Migration Rate Data                     \
                                                      Year Net Migration Rate
0                                               2025                   -0.568
1                                               2024                   -0.568
2                                               2023                   -0.569
3                                               2022                   -0.571
4                                               2021                   -0.573


  Growth Rate
0      0.000%
1     -0.180%
2     -0.350%
3     -0.350%
4     -0.170%

C:\Users\zidti\AppData\Local\Temp\ipykernel_14992\2095538592.py:25: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(second_table))[0]

# Preprocessing

## Electoral Data

In [ ]:
sheet_1

,Unnamed: 0,Unnamed: 1,VOTES CAST,Unnamed: 3,Unnamed: 4,POLLED,VOTES,%,VOTES.1,%.1,VOTES.2,%.2,VOTES.3,%.3,VOTES.4,%.4,VOTES.5,%.5
0,ARIMA,22845,13464,0.589363,91,13373,8603,0.643311,1224.0,0.091528,3464,0.259029,NaN,NaN,NaN,NaN,82.0,0.006132
1,AROUCA/MALONEY,23673,15948,0.673679,40,15908,12055,0.757795,1480.0,0.093035,2373,0.149170,NaN,NaN,NaN,NaN,NaN,NaN
2,BARATARIA/SAN JUAN,24597,16451,0.668821,93,16358,7179,0.438868,5362.0,0.327791,3817,0.233341,NaN,NaN,NaN,NaN,NaN,NaN
3,CARONI CENTRAL,22813,16640,0.729409,46,16594,4579,0.275943,7615.0,0.458901,4400,0.265156,NaN,NaN,NaN,NaN,NaN,NaN
4,CARONI EAST,23554,16460,0.698820,64,16396,3833,0.233777,8333.0,0.508234,4230,0.257990,NaN,NaN,NaN,NaN,NaN,NaN
5,CHAGUANAS EAST,22383,15887,0.709780,51,15836,6757,0.426686,4993.0,0.315294,4086,0.258020,NaN,NaN,NaN,NaN,NaN,NaN
6,CHAGUANAS WEST,24272,18029,0.742790,82,17947,1519,0.084638,11150.0,0.621274,5278,0.294088,NaN,NaN,NaN,NaN,NaN,NaN
7,COUVA NORTH,25898,18992,0.733338,72,18920,5249,0.277431,8832.0,0.466808,4839,0.255761,NaN,NaN,NaN,NaN,NaN,NaN
8,COUVA SOUTH,25188,17987,0.714110,53,17934,5097,0.284209,8428.0,0.469945,4409,0.245846,NaN,NaN,NaN,NaN,NaN,NaN
9,CUMUTO/MANZANILLA,24700,17751,0.718664,76,17675,7124,0.403055,7368.0,0.416860,3183,0.180085,NaN,NaN,NaN,NaN,NaN,NaN
10,D'ABADIE/O'MEARA,23916,15086,0.630791,41,15045,8877,0.590030,2425.0,0.161183,3695,0.245597,NaN,NaN,NaN,NaN,48.0,0.003190
11,DIEGO MARTIN CENTRAL,25975,15483,0.596073,26,15457,9301,0.601734,582.0,0.037653,5574,0.360613,NaN,NaN,NaN,NaN,NaN,NaN
12,DIEGO MARTIN NORTH/EAST,27131,15289,0.563525,40,15249,9349,0.613089,877.0,0.057512,5023,0.329399,NaN,NaN,NaN,NaN,NaN,NaN
13,DIEGO MARTIN WEST,26651,15399,0.577802,65,15334,9221,0.601343,513.0,0.033455,5600,0.365202,NaN,NaN,NaN,NaN,NaN,NaN
14,FYZABAD,24752,18562,0.749919,65,18497,7201,0.389306,7562.0,0.408823,3734,0.201871,NaN,NaN,NaN,NaN,NaN,NaN
15,LA BREA,23034,15497,0.672788,91,15406,10055,0.652668,3490.0,0.226535,1861,0.120797,NaN,NaN,NaN,NaN,NaN,NaN
16,LA HORQUETTA/TALPARO,22689,14479,0.638151,68,14411,8324,0.577614,3494.0,0.242454,2593,0.179932,NaN,NaN,NaN,NaN,NaN,NaN
17,LAVENTILLE EAST/MORVANT,26529,13767,0.518942,56,13711,11069,0.807308,1107.0,0.080738,1535,0.111954,NaN,NaN,NaN,NaN,NaN,NaN
18,LAVENTILLE WEST,25633,12110,0.472438,45,12065,10637,0.881641,343.0,0.028429,1085,0.089930,NaN,NaN,NaN,NaN,NaN,NaN
19,LOPINOT/BON AIR WEST,22834,15690,0.687133,58,15632,8535,0.545995,3907.0,0.249936,3190,0.204069,NaN,NaN,NaN,NaN,NaN,NaN
20,MAYARO,25401,18802,0.740207,113,18689,8137,0.435390,8613.0,0.460859,1939,0.103751,NaN,NaN,NaN,NaN,NaN,NaN
21,MORUGA/TABLELAND,25301,18607,0.735425,109,18498,9108,0.492378,7925.0,0.428425,1465,0.079198,NaN,NaN,NaN,NaN,NaN,NaN
22,NAPARIMA,24471,17595,0.695427,75,17520,2892,0.165068,10338.0,0.590068,4290,0.244863,NaN,NaN,NaN,NaN,NaN,NaN
23,OROPOUCHE EAST,25836,18798,0.768175,72,18726,3081,0.164531,10156.0,0.542348,5489,0.293122,NaN,NaN,NaN,NaN,NaN,NaN
24,OROPOUCHE WEST,22513,16457,0.636979,60,16397,3629,0.221321,8570.0,0.522657,4198,0.256022,NaN,NaN,NaN,NaN,NaN,NaN
25,POINT FORTIN,23832,15785,0.701150,50,15735,9257,0.588306,2640.0,0.167779,3838,0.243915,NaN,NaN,NaN,NaN,NaN,NaN
26,POINTE-A-PIERRE,24467,17428,0.731286,70,17358,7505,0.432365,6189.0,0.356550,3664,0.211084,NaN,NaN,NaN,NaN,NaN,NaN
27,PORT-OF-SPAIN NORTH/ST. ANN'S WEST,22164,12340,0.504353,32,12308,8359,0.679152,305.0,0.024781,3644,0.296068,NaN,NaN,NaN,NaN,NaN,NaN
28,PORT-OF-SPAIN SOUTH,22037,11630,0.527749,30,11600,7823,0.674397,566.0,0.048793,3141,0.270776,NaN,NaN,NaN,NaN,70.0,0.006034
29,PRINCES TOWN,24208,17425,0.719803,72,17353,5298,0.305307,8231.0,0.474327,3824,0.220365,NaN,NaN,NaN,NaN,NaN,NaN
30,SAN FERNANDO EAST,22097,15047,0.680952,43,15004,10320,0.687817,1630.0,0.108638,3054,0.203546,NaN,NaN,NaN,NaN,NaN,NaN
31,SAN FERNANDO WEST,21035,14683,0.698027,55,14628,7371,0.503897,2306.0,0.157643,4951,0.338460,NaN,NaN,NaN,NaN,NaN,NaN
32,SIPARIA,25667,18272,0.711887,105,18167,4678,0.257500,10323.0,0.568228,3166,0.174272,NaN,NaN,NaN,NaN,NaN,NaN
33,ST. ANN'S EAST,25495,14389,0.564385,74,14315,10008,0.699127,1060.0,0.074048,3247,0.226825,NaN,NaN,NaN,NaN,NaN,NaN
34,ST. AUGUSTINE,24414,17818,0.729827,40,17778,4309,0.242378,7043.0,0.396164,6426,0.361458,NaN,NaN,NaN,NaN,NaN,NaN
35,ST. JOSEPH,24932,17092,0.685545,47,17045,7969,0.467527,4932.0,0.289352,4144,0.243121,NaN,NaN,NaN,NaN,NaN,NaN
36,TABAQUITE,25720,18620,0.723950,81,18539,5541,0.298883,7206.0,0.388694,5792,0.312422,NaN,NaN,NaN,NaN,NaN,NaN
37,TOBAGO EAST,19320,10880,0.563147,67,10813,5684,0.525664,NaN,NaN,237,0.021918,4703.0,0.434939,148.0,0.013687,41.0,0.003792
38,TOBAGO WEST,21936,11756,0.535923,29,11727,6850,0.584122,NaN,NaN,471,0.040164,4176.0,0.356101,230.0,0.019613,NaN,NaN
39,TOCO/SANGRE GRANDE,26721,16725,0.625912,90,16635,9557,0.574512,3864.0,0.232281,3214,0.193207,NaN,NaN,NaN,NaN,NaN,NaN
40,TUNAPUNA,23833,16725,0.701758,63,16662,8494,0.509783,3986.0,0.239227,4182,0.250990,NaN,NaN,NaN,NaN,NaN,NaN
41,TOTAL,990467,655845,0.662157,2600,653245,300434,0.459910,194968.0,0.298461,148345,0.227089,8879.0,0.013592,378.0,0.000579,241.0,0.000369

In [ ]:
sheet_1.isna().sum()

Unnamed: 0     0
Unnamed: 1     0
VOTES CAST     0
Unnamed: 3     0
Unnamed: 4     0
POLLED         0
VOTES          0
%              0
VOTES.1        2
%.1            2
VOTES.2        0
%.2            0
VOTES.3       39
%.3           39
VOTES.4       39
%.4           39
VOTES.5       37
%.5           37
dtype: int64

In [ ]:
# sht_07, sht_10, sht_15, sht_20 = sheet_2007.iloc[3:], sheet_2010.iloc[3:], sheet_2015.iloc[3:], sheet_2020.iloc[3:]

# print(sht_07)
# print(sht_10)
# print(sht_15)
# print(sht_20)
# sht_20

In [ ]:
sheet_1.shape

(42, 18)

Fixing headers

2007

In [ ]:
cols= [
            'ELECTORAL_DISTRICT', 'ELECTORATE', 'TOTAL_NUMBER_OF_VOTES_CAST',
            'VOTER_TURNOUT', 'REJECTED_BALLOTS', 'VALID_VOTES', 'P.N.M._VOTES',
            'P.N.M._VOTES_%', 'U.N.C._VOTES','U.N.C._VOTES_%', 'C.O.P._VOTES', 
            'C.O.P._VOTES_%', 'D.A.C._VOTES', 'D.A.C._VOTES_%', 'D.N.A._VOTES', 
            'D.N.A._VOTES_%', 'I.N.D_VOTES', 'I.N.D._VOTES_%'
        ]
sht_07 = sheet_1
sht_07.columns = cols
sht_07.fillna(0, inplace=True)
sht_07

,ELECTORAL_DISTRICT,ELECTORATE,TOTAL_NUMBER_OF_VOTES_CAST,VOTER_TURNOUT,REJECTED_BALLOTS,VALID_VOTES,P.N.M._VOTES,P.N.M._VOTES_%,U.N.C._VOTES,U.N.C._VOTES_%,C.O.P._VOTES,C.O.P._VOTES_%,D.A.C._VOTES,D.A.C._VOTES_%,D.N.A._VOTES,D.N.A._VOTES_%,I.N.D_VOTES,I.N.D._VOTES_%
0,ARIMA,22845,13464,0.589363,91,13373,8603,0.643311,1224.0,0.091528,3464,0.259029,0.0,0.000000,0.0,0.000000,82.0,0.006132
1,AROUCA/MALONEY,23673,15948,0.673679,40,15908,12055,0.757795,1480.0,0.093035,2373,0.149170,0.0,0.000000,0.0,0.000000,0.0,0.000000
2,BARATARIA/SAN JUAN,24597,16451,0.668821,93,16358,7179,0.438868,5362.0,0.327791,3817,0.233341,0.0,0.000000,0.0,0.000000,0.0,0.000000
3,CARONI CENTRAL,22813,16640,0.729409,46,16594,4579,0.275943,7615.0,0.458901,4400,0.265156,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,CARONI EAST,23554,16460,0.698820,64,16396,3833,0.233777,8333.0,0.508234,4230,0.257990,0.0,0.000000,0.0,0.000000,0.0,0.000000
5,CHAGUANAS EAST,22383,15887,0.709780,51,15836,6757,0.426686,4993.0,0.315294,4086,0.258020,0.0,0.000000,0.0,0.000000,0.0,0.000000
6,CHAGUANAS WEST,24272,18029,0.742790,82,17947,1519,0.084638,11150.0,0.621274,5278,0.294088,0.0,0.000000,0.0,0.000000,0.0,0.000000
7,COUVA NORTH,25898,18992,0.733338,72,18920,5249,0.277431,8832.0,0.466808,4839,0.255761,0.0,0.000000,0.0,0.000000,0.0,0.000000
8,COUVA SOUTH,25188,17987,0.714110,53,17934,5097,0.284209,8428.0,0.469945,4409,0.245846,0.0,0.000000,0.0,0.000000,0.0,0.000000
9,CUMUTO/MANZANILLA,24700,17751,0.718664,76,17675,7124,0.403055,7368.0,0.416860,3183,0.180085,0.0,0.000000,0.0,0.000000,0.0,0.000000
10,D'ABADIE/O'MEARA,23916,15086,0.630791,41,15045,8877,0.590030,2425.0,0.161183,3695,0.245597,0.0,0.000000,0.0,0.000000,48.0,0.003190
11,DIEGO MARTIN CENTRAL,25975,15483,0.596073,26,15457,9301,0.601734,582.0,0.037653,5574,0.360613,0.0,0.000000,0.0,0.000000,0.0,0.000000
12,DIEGO MARTIN NORTH/EAST,27131,15289,0.563525,40,15249,9349,0.613089,877.0,0.057512,5023,0.329399,0.0,0.000000,0.0,0.000000,0.0,0.000000
13,DIEGO MARTIN WEST,26651,15399,0.577802,65,15334,9221,0.601343,513.0,0.033455,5600,0.365202,0.0,0.000000,0.0,0.000000,0.0,0.000000
14,FYZABAD,24752,18562,0.749919,65,18497,7201,0.389306,7562.0,0.408823,3734,0.201871,0.0,0.000000,0.0,0.000000,0.0,0.000000
15,LA BREA,23034,15497,0.672788,91,15406,10055,0.652668,3490.0,0.226535,1861,0.120797,0.0,0.000000,0.0,0.000000,0.0,0.000000
16,LA HORQUETTA/TALPARO,22689,14479,0.638151,68,14411,8324,0.577614,3494.0,0.242454,2593,0.179932,0.0,0.000000,0.0,0.000000,0.0,0.000000
17,LAVENTILLE EAST/MORVANT,26529,13767,0.518942,56,13711,11069,0.807308,1107.0,0.080738,1535,0.111954,0.0,0.000000,0.0,0.000000,0.0,0.000000
18,LAVENTILLE WEST,25633,12110,0.472438,45,12065,10637,0.881641,343.0,0.028429,1085,0.089930,0.0,0.000000,0.0,0.000000,0.0,0.000000
19,LOPINOT/BON AIR WEST,22834,15690,0.687133,58,15632,8535,0.545995,3907.0,0.249936,3190,0.204069,0.0,0.000000,0.0,0.000000,0.0,0.000000
20,MAYARO,25401,18802,0.740207,113,18689,8137,0.435390,8613.0,0.460859,1939,0.103751,0.0,0.000000,0.0,0.000000,0.0,0.000000
21,MORUGA/TABLELAND,25301,18607,0.735425,109,18498,9108,0.492378,7925.0,0.428425,1465,0.079198,0.0,0.000000,0.0,0.000000,0.0,0.000000
22,NAPARIMA,24471,17595,0.695427,75,17520,2892,0.165068,10338.0,0.590068,4290,0.244863,0.0,0.000000,0.0,0.000000,0.0,0.000000
23,OROPOUCHE EAST,25836,18798,0.768175,72,18726,3081,0.164531,10156.0,0.542348,5489,0.293122,0.0,0.000000,0.0,0.000000,0.0,0.000000
24,OROPOUCHE WEST,22513,16457,0.636979,60,16397,3629,0.221321,8570.0,0.522657,4198,0.256022,0.0,0.000000,0.0,0.000000,0.0,0.000000
25,POINT FORTIN,23832,15785,0.701150,50,15735,9257,0.588306,2640.0,0.167779,3838,0.243915,0.0,0.000000,0.0,0.000000,0.0,0.000000
26,POINTE-A-PIERRE,24467,17428,0.731286,70,17358,7505,0.432365,6189.0,0.356550,3664,0.211084,0.0,0.000000,0.0,0.000000,0.0,0.000000
27,PORT-OF-SPAIN NORTH/ST. ANN'S WEST,22164,12340,0.504353,32,12308,8359,0.679152,305.0,0.024781,3644,0.296068,0.0,0.000000,0.0,0.000000,0.0,0.000000
28,PORT-OF-SPAIN SOUTH,22037,11630,0.527749,30,11600,7823,0.674397,566.0,0.048793,3141,0.270776,0.0,0.000000,0.0,0.000000,70.0,0.006034
29,PRINCES TOWN,24208,17425,0.719803,72,17353,5298,0.305307,8231.0,0.474327,3824,0.220365,0.0,0.000000,0.0,0.000000,0.0,0.000000
30,SAN FERNANDO EAST,22097,15047,0.680952,43,15004,10320,0.687817,1630.0,0.108638,3054,0.203546,0.0,0.000000,0.0,0.000000,0.0,0.000000
31,SAN FERNANDO WEST,21035,14683,0.698027,55,14628,7371,0.503897,2306.0,0.157643,4951,0.338460,0.0,0.000000,0.0,0.000000,0.0,0.000000
32,SIPARIA,25667,18272,0.711887,105,18167,4678,0.257500,10323.0,0.568228,3166,0.174272,0.0,0.000000,0.0,0.000000,0.0,0.000000
33,ST. ANN'S EAST,25495,14389,0.564385,74,14315,10008,0.699127,1060.0,0.074048,3247,0.226825,0.0,0.000000,0.0,0.000000,0.0,0.000000
34,ST. AUGUSTINE,24414,17818,0.729827,40,17778,4309,0.242378,7043.0,0.396164,6426,0.361458,0.0,0.000000,0.0,0.000000,0.0,0.000000
35,ST. JOSEPH,24932,17092,0.685545,47,17045,7969,0.467527,4932.0,0.289352,4144,0.243121,0.0,0.000000,0.0,0.000000,0.0,0.000000
36,TABAQUITE,25720,18620,0.723950,81,18539,5541,0.298883,7206.0,0.388694,5792,0.312422,0.0,0.000000,0.0,0.000000,0.0,0.000000
37,TOBAGO EAST,19320,10880,0.563147,67,10813,5684,0.525664,0.0,0.000000,237,0.021918,4703.0,0.434939,148.0,0.013687,41.0,0.003792
38,TOBAGO WEST,21936,11756,0.535923,29,11727,6850,0.584122,0.0,0.000000,471,0.040164,4176.0,0.356101,230.0,0.019613,0.0,0.000000
39,TOCO/SANGRE GRANDE,26721,16725,0.625912,90,16635,9557,0.574512,3864.0,0.232281,3214,0.193207,0.0,0.000000,0.0,0.000000,0.0,0.000000
40,TUNAPUNA,23833,16725,0.701758,63,16662,8494,0.509783,3986.0,0.239227,4182,0.250990,0.0,0.000000,0.0,0.000000,0.0,0.000000
41,TOTAL,990467,655845,0.662157,2600,653245,300434,0.459910,194968.0,0.298461,148345,0.227089,8879.0,0.013592,378.0,0.000579,241.0,0.000369

2010

In [ ]:
cols = [
            'ELECTORAL_DISTRICT', 'ELECTORATE', 'TOTAL_NUMBER_OF_VOTES_CAST',
            'VOTER_TURNOUT', 'REJECTED_BALLOTS', 'VALID_VOTES', 'P.N.M._VOTES',
            'P.N.M._VOTES_%', 'U.N.C._VOTES','U.N.C._VOTES_%', 'C.O.P._VOTES', 
            'C.O.P._VOTES_%', 'N.N.V._VOTES', 'N.N.V._VOTES_%', 'T.O.P._VOTES', 
            'T.O.P._VOTES_%', 'T.H.C._VOTES', 'T.H.C._VOTES_%', 'I.N.D_VOTES', 
            'I.N.D._VOTES_%', 'T.T.N.C.P._VOTES', 'T.T.N.C.P._VOTES_%'
        ]

sht_10 = sheet_2
sht_10.columns = cols
sht_10.fillna(0, inplace=True)
sht_10

,ELECTORAL_DISTRICT,ELECTORATE,TOTAL_NUMBER_OF_VOTES_CAST,VOTER_TURNOUT,REJECTED_BALLOTS,VALID_VOTES,P.N.M._VOTES,P.N.M._VOTES_%,U.N.C._VOTES,U.N.C._VOTES_%,...,N.N.V._VOTES,N.N.V._VOTES_%,T.O.P._VOTES,T.O.P._VOTES_%,T.H.C._VOTES,T.H.C._VOTES_%,I.N.D_VOTES,I.N.D._VOTES_%,T.T.N.C.P._VOTES,T.T.N.C.P._VOTES_%
0,ARIMA,24115,15130,0.627410,73,15057,7246,0.481238,0.0,0.000000,...,201.0,0.013349,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
1,AROUCA/MALONEY,25019,17196,0.687318,46,17150,11517,0.671545,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,113.0,0.006589,0.0,0.000000
2,BARATARIA/SAN JUAN,25394,17768,0.699693,76,17692,6742,0.381076,10950.0,0.618924,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
3,CARONI CENTRAL,24601,18793,0.763912,50,18743,4880,0.260364,13863.0,0.739636,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,CARONI EAST,25166,18762,0.745530,57,18705,3724,0.199091,14981.0,0.800909,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
5,CHAGUANAS EAST,23653,17611,0.744557,58,17553,6717,0.382670,10797.0,0.615109,...,39.0,0.002222,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
6,CHAGUANAS WEST,25715,20281,0.788684,70,20211,1471,0.072782,18740.0,0.927218,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
7,COUVA NORTH,27680,21286,0.769003,70,21216,5159,0.243166,16057.0,0.756834,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
8,COUVA SOUTH,26400,19877,0.752917,59,19818,4773,0.240842,15045.0,0.759158,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
9,CUMUTO/MANZANILLA,26896,20527,0.763199,121,20406,7181,0.351906,13116.0,0.642752,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,109.0,0.005342,0.0,0.000000
10,D'ABADIE/O'MEARA,26019,18121,0.696453,74,18047,8352,0.462792,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
11,DIEGO MARTIN CENTRAL,27465,17265,0.628618,33,17232,9040,0.524605,0.0,0.000000,...,145.0,0.008415,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
12,DIEGO MARTIN NORTH/EAST,27647,16809,0.607986,68,16741,8539,0.510065,8076.0,0.482408,...,126.0,0.007526,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
13,DIEGO MARTIN WEST,28366,17248,0.608052,61,17187,9042,0.526095,0.0,0.000000,...,149.0,0.008669,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
14,FYZABAD,25802,20245,0.784629,59,20186,7298,0.361538,12888.0,0.638462,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
15,LA BREA,24057,17098,0.710729,67,17031,9680,0.568375,7116.0,0.417826,...,235.0,0.013798,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
16,LA HORQUETTA/TALPARO,23959,16483,0.687967,51,16432,7633,0.464520,8712.0,0.530185,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,58.0,0.003530,29.0,0.003799
17,LAVENTILLE EAST/MORVANT,27426,15038,0.548312,62,14976,10797,0.720954,0.0,0.000000,...,449.0,0.029981,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
18,LAVENTILLE WEST,27426,13494,0.492015,39,13455,10730,0.797473,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
19,LOPINOT/BON AIR WEST,24447,17559,0.718248,58,17501,8249,0.471344,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
20,MAYARO,26433,20305,0.768169,129,20176,7330,0.363303,12846.0,0.636697,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
21,MORUGA/TABLELAND,26450,20433,0.772514,124,20309,8681,0.427446,11628.0,0.572554,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
22,NAPARIMA,25394,19230,0.757265,62,19168,2553,0.133191,16615.0,0.866809,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
23,OROPOUCHE EAST,27181,20861,0.767485,62,20799,2872,0.138084,17927.0,0.861916,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
24,OROPOUCHE WEST,23427,17772,0.758612,58,17714,3526,0.199052,14188.0,0.800948,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
25,POINT FORTIN,24607,16888,0.686309,47,16841,8748,0.519447,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
26,POINTE-A-PIERRE,23504,17959,0.764083,81,17878,6956,0.389082,10922.0,0.610918,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
27,PORT-OF-SPAIN NORTH/ST. ANN'S WEST,23154,13344,0.576315,43,13301,8088,0.608075,5120.0,0.384933,...,93.0,0.006992,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
28,PORT-OF-SPAIN SOUTH,23711,12700,0.535616,52,12648,7539,0.596063,0.0,0.000000,...,340.0,0.026882,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
29,PRINCES TOWN,25259,19272,0.762976,72,19200,5051,0.263073,14149.0,0.736927,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
30,SAN FERNANDO EAST,22813,15893,0.696664,48,15845,9736,0.614453,6109.0,0.385547,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
31,SAN FERNANDO WEST,23554,17148,0.728029,49,17099,7860,0.459676,0.0,0.000000,...,128.0,0.007486,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
32,SIPARIA,26657,19907,0.746783,82,19825,4175,0.210593,15650.0,0.789407,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
33,ST. ANN'S EAST,26940,16267,0.603823,103,16164,9411,0.582220,6635.0,0.410480,...,118.0,0.007300,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
34,ST. AUGUSTINE,25582,19284,0.753811,58,19226,3955,0.205711,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
35,ST. JOSEPH,25943,18711,0.721235,64,18647,7778,0.417118,10835.0,0.581059,...,0.0,0.000000,0.0,0.000000,34.0,0.001823,0.0,0.000000,0.0,0.000000
36,TABAQUITE,26775,19727,0.736769,67,19660,5350,0.272126,14310.0,0.727874,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
37,TOBAGO EAST,20424,13233,0.647914,61,13172,5523,0.419299,0.0,0.000000,...,0.0,0.000000,7649.0,0.580701,0.0,0.000000,0.0,0.000000,0.0,0.000000
38,TOBAGO WEST,23674,14545,0.614387,41,14504,6782,0.467595,0.0,0.000000,...,0.0,0.000000,7722.0,0.532405,0.0,0.000000,0.0,0.000000,0.0,0.000000
39,TOCO/SANGRE GRANDE,27298,18069,0.661917,44,18025,8625,0.478502,9325.0,0.517337,...,75.0,0.004161,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
40,TUNAPUNA,25191,18662,0.740820,67,18595,8149,0.438236,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
41,TOTAL,1041224,726801,0.698026,2666,724135,287458,0.396967,316600.0,0.437211,...,2098.0,0.002897,15371.0,0.021227,34.0,0.000047,280.0,0.000387,29.0,0.000040

In [ ]:
cols = [
            'ELECTORAL_DISTRICT', 'ELECTORATE', 'TOTAL_NUMBER_OF_VOTES_CAST',
            'VOTER_TURNOUT', 'REJECTED_BALLOTS', 'VALID_VOTES', 'P.N.M._VOTES',
            'P.N.M._VOTES_%', 'U.N.C._VOTES','U.N.C._VOTES_%', 'C.O.P._VOTES', 
            'C.O.P._VOTES_%', 'I.L.P._VOTES', 'I.L.P._VOTES_%', 'N.J.A.C._VOTES',
            'N.J.A.C._VOTES_%','D.D.P._VOTES', 'D.D.P._VOTES_%', 'I.D.P._VOTES',
            'I.D.P._VOTES_%', 'I.N.D_VOTES', 'I.N.D._VOTES_%', 'L.O.V.E._VOTES',
            'L.O.V.E._VOTES_%', 'N.C.T._VOTES', 'N.C.T._VOTES_%','N.N.V._VOTES',
            'N.N.V._VOTES_%','T.F._VOTES', 'T.F._VOTES_%', 'T.O.P._VOTES', 
            'T.O.P._VOTES_%', 'T.H.C._VOTES', 'T.H.C._VOTES_%', 'T.N.V._VOTES',
            'T.N.V._VOTES_%', 'T.P.T._VOTES', 'T.P.T._VOTES_%', 'Y.E.P._VOTES', 
            'Y.E.P._VOTES_%', 'Y.O.U.R._VOTES', 'Y.O.U.R._VOTES_%',
        ]
sht_15 = sheet_3
sht_15.columns = cols
sht_15.fillna(0, inplace=True)
sht_15

,ELECTORAL_DISTRICT,ELECTORATE,TOTAL_NUMBER_OF_VOTES_CAST,VOTER_TURNOUT,REJECTED_BALLOTS,VALID_VOTES,P.N.M._VOTES,P.N.M._VOTES_%,U.N.C._VOTES,U.N.C._VOTES_%,...,T.H.C._VOTES,T.H.C._VOTES_%,T.N.V._VOTES,T.N.V._VOTES_%,T.P.T._VOTES,T.P.T._VOTES_%,Y.E.P._VOTES,Y.E.P._VOTES_%,Y.O.U.R._VOTES,Y.O.U.R._VOTES_%
0,ARIMA,25555,15761,0.616748,56,15705,10879,0.695200,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
1,AROUCA/MALONEY,26321,18250,0.693363,50,18200,14843,0.815500,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
2,BARATARIA/SAN JUAN,25529,16970,0.664734,32,16938,8182,0.483056,8722.0,0.514937,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,34.0,0.002007,0.0,0.000000
3,CARONI CENTRAL,27887,19731,0.707534,37,19694,7206,0.365898,12349.0,0.627044,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,CARONI EAST,27602,18863,0.683393,41,18822,5095,0.270694,13525.0,0.718574,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
5,CHAGUANAS EAST,25488,17942,0.703939,27,17915,7860,0.438738,9284.0,0.518225,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
6,CHAGUANAS WEST,27704,20179,0.728379,65,20114,2190,0.108879,17506.0,0.870339,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
7,COUVA NORTH,29284,20816,0.710832,46,20770,6749,0.324940,13845.0,0.666586,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
8,COUVA SOUTH,28499,20186,0.708306,50,20136,6070,0.301450,13889.0,0.689760,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
9,CUMUTO/MANZANILLA,28152,20004,0.710571,75,19929,8282,0.415575,11461.0,0.575092,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
10,D'ABADIE/O'MEARA,29073,19535,0.671929,47,19488,12929,0.663434,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
11,DIEGO MARTIN CENTRAL,29350,17334,0.590596,120,17214,13258,0.770187,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
12,DIEGO MARTIN NORTH/EAST,28067,17145,0.610860,78,17067,12015,0.703990,4949.0,0.289975,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
13,DIEGO MARTIN WEST,29349,17026,0.580122,119,16907,12855,0.760336,0.0,0.000000,...,83.0,0.004909,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
14,FYZABAD,27023,20150,0.745661,60,20090,8114,0.403883,11916.0,0.593131,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
15,LA BREA,25197,17487,0.694011,77,17410,11558,0.663871,5735.0,0.329408,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
16,LA HORQUETTA/TALPARO,26031,18196,0.699013,61,18135,10428,0.575021,7606.0,0.419410,...,0.0,0.000000,101.0,0.005569,0.0,0.000000,0.0,0.000000,0.0,0.000000
17,LAVENTILLE EAST/MORVANT,27815,15799,0.568003,62,15737,13662,0.868145,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
18,LAVENTILLE WEST,26450,14673,0.554745,41,14632,13084,0.894204,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
19,LOPINOT/BON AIR WEST,26564,18414,0.693194,52,18362,11487,0.625585,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
20,MAYARO,27940,20679,0.740122,74,20605,8836,0.428828,11730.0,0.569279,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
21,MORUGA/TABLELAND,27913,21188,0.759073,56,21132,10808,0.511452,10275.0,0.486229,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
22,NAPARIMA,26527,18270,0.688732,48,18222,3100,0.170124,15040.0,0.825376,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
23,OROPOUCHE EAST,27298,19041,0.697524,57,18984,3795,0.199905,15189.0,0.800095,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
24,OROPOUCHE WEST,24348,17001,0.698250,47,16954,4349,0.256518,12605.0,0.743482,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
25,POINT FORTIN,25505,17936,0.703235,53,17883,10813,0.604652,7070.0,0.395348,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
26,POINTE-A-PIERRE,24578,18009,0.732728,47,17962,8204,0.456742,9710.0,0.540586,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
27,PORT-OF-SPAIN NORTH/ST. ANN'S WEST,24123,13273,0.550222,109,13164,10946,0.831510,2218.0,0.168490,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
28,PORT-OF-SPAIN SOUTH,23778,12353,0.519514,63,12290,9843,0.800895,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,74.0,0.006021
29,PRINCES TOWN,26473,18736,0.707740,53,18683,6015,0.321950,12668.0,0.678050,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
30,SAN FERNANDO EAST,24969,17003,0.680964,40,16963,11502,0.678064,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
31,SAN FERNANDO WEST,24493,17116,0.698812,47,17069,10112,0.592419,6802.0,0.398500,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
32,SIPARIA,27920,19717,0.706196,66,19651,4755,0.241972,14896.0,0.758028,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
33,ST. ANN'S EAST,28449,17269,0.607016,69,17200,13382,0.778023,3655.0,0.212500,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
34,ST. AUGUSTINE,27224,19192,0.704966,69,19123,6186,0.323485,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
35,ST. JOSEPH,27653,19648,0.710520,55,19593,10536,0.537743,8903.0,0.454397,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
36,TABAQUITE,28217,19598,0.694546,68,19530,6726,0.344393,12804.0,0.655607,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
37,TOBAGO EAST,21981,11494,0.522906,51,11443,7951,0.694835,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,112.0,0.009788,0.0,0.000000,0.0,0.000000
38,TOBAGO WEST,26151,13455,0.514512,59,13396,10609,0.791953,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,357.0,0.026650,0.0,0.000000,0.0,0.000000
39,TOCO/SANGRE GRANDE,30149,20400,0.676639,68,20332,12005,0.590449,8101.0,0.398436,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
40,TUNAPUNA,26650,18953,0.711182,57,18896,11228,0.594200,7613.0,0.402890,...,55.0,0.002911,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
41,TOTAL,1099279,734792,0.668431,2452,732340,378447,0.516764,290066.0,0.396081,...,138.0,0.000188,101.0,0.000138,469.0,0.000640,34.0,0.000046,74.0,0.000101

2020

In [ ]:
cols = [
            'ELECTORAL_DISTRICT', 'ELECTORATE', 'TOTAL_NUMBER_OF_VOTES_CAST',
            'VOTER_TURNOUT', 'REJECTED_BALLOTS', 'VALID_VOTES', 'P.N.M._VOTES',
            'P.N.M._VOTES_%', 'U.N.C._VOTES','U.N.C._VOTES_%','P.E.P._VOTES', 
            'P.E.P._VOTES_%', 'C.O.P._VOTES', 'C.O.P._VOTES_%', 'I.L.P._VOTES', 
            'I.L.P._VOTES_%', 'D.P.T._VOTES', 'D.P.T._VOTES_%', 'I.N.D_VOTES', 
            'I.N.D._VOTES_%','M.N.D._VOTES', 'M.N.D._VOTES_%', 'M.S.J._VOTES',
            'M.S.J._VOTES_%', 'N.C.T._VOTES', 'N.C.T._VOTES_%','N.N.V._VOTES',
            'N.N.V._VOTES_%','N.O.W._VOTES', 'N.O.W._VOTES_%', 'O.T.V._VOTES', 
            'O.T.V._VOTES_%', 'P.D.P._VOTES', 'P.D.P._VOTES_%', 'P.P._VOTES', 
            'P.P._VOTES_%', 'T.D.F._VOTES', 'T.D.F._VOTES_%', 'T.H.C._VOTES', 
            'T.H.C._VOTES_%', 'T.N.P._VOTES', 'T.N.P._VOTES_%', 'U.P.P._VOTES', 
            'U.P.P._VOTES_%', 'U.T.P._VOTES', 'U.T.P._VOTES_%'
        ]
sht_20 = sheet_4
sht_20.columns = cols
sht_20.fillna(0, inplace=True)
sht_20

,ELECTORAL_DISTRICT,ELECTORATE,TOTAL_NUMBER_OF_VOTES_CAST,VOTER_TURNOUT,REJECTED_BALLOTS,VALID_VOTES,P.N.M._VOTES,P.N.M._VOTES_%,U.N.C._VOTES,U.N.C._VOTES_%,...,T.D.F._VOTES,T.D.F._VOTES_%,T.H.C._VOTES,T.H.C._VOTES_%,T.N.P._VOTES,T.N.P._VOTES_%,U.P.P._VOTES,U.P.P._VOTES_%,U.T.P._VOTES,U.T.P._VOTES_%
0,ARIMA,26382,13488,0.511258,30,13458,9293,0.695200,3858.0,0.286670,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
1,AROUCA/MALONEY,26673,15522,0.581937,57,15465,12697,0.815500,2768.0,0.178985,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
2,BARATARIA/SAN JUAN,25690,15771,0.613896,27,15744,7240,0.459858,8300.0,0.527185,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
3,CARONI CENTRAL,30107,18677,0.620354,31,18646,6890,0.369516,11511.0,0.617344,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
4,CARONI EAST,29031,17416,0.599910,30,17386,4271,0.245657,12819.0,0.737317,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
5,CHAGUANAS EAST,26923,17125,0.636073,53,17072,7882,0.461692,8968.0,0.525305,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
6,CHAGUANAS WEST,28625,17566,0.613659,48,17518,1878,0.107204,15502.0,0.884918,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
7,COUVA NORTH,29864,18238,0.610702,25,18213,5222,0.286718,12633.0,0.693625,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
8,COUVA SOUTH,30348,18281,0.602379,36,18245,5542,0.303754,12597.0,0.690436,...,0.0,0.000000,106.0,0.005810,0.0,0.000000,0.0,0.000000,0.0,0.000000
9,CUMUTO/MANZANILLA,30468,18702,0.613824,51,18651,7557,0.405179,10901.0,0.584473,...,0.0,0.000000,35.0,0.001877,0.0,0.000000,0.0,0.000000,0.0,0.000000
10,D'ABADIE/O'MEARA,30788,17843,0.579544,57,17786,11864,0.667041,5783.0,0.325143,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
11,DIEGO MARTIN CENTRAL,29609,14347,0.484549,60,14287,10627,0.743823,2693.0,0.188493,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
12,DIEGO MARTIN NORTH/EAST,29273,13858,0.473406,35,13823,10218,0.739203,2827.0,0.204514,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
13,DIEGO MARTIN WEST,29886,13948,0.466707,39,13909,10791,0.775829,2569.0,0.184701,...,0.0,0.000000,93.0,0.006686,0.0,0.000000,0.0,0.000000,0.0,0.000000
14,FYZABAD,27447,18045,0.657449,37,18008,6888,0.382497,10850.0,0.602510,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
15,LA BREA,26008,15571,0.598700,71,15500,9342,0.602710,5735.0,0.370000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
16,LA HORQUETTA/TALPARO,27528,17678,0.642183,30,17648,9713,0.550374,7790.0,0.441410,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
17,LAVENTILLE EAST/MORVANT,26644,12568,0.471701,39,12529,10356,0.826562,1965.0,0.156836,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
18,LAVENTILLE WEST,25585,11171,0.436623,23,11148,9310,0.835127,1324.0,0.118766,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
19,LOPINOT/BON AIR WEST,27864,17171,0.616243,36,17135,9608,0.560724,3587.0,0.209338,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
20,MAYARO,28834,18036,0.625512,81,17955,7229,0.402618,10593.0,0.589975,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
21,MORUGA/TABLELAND,29043,20125,0.692938,68,20057,9462,0.471755,10534.0,0.525203,...,0.0,0.000000,12.0,0.000598,0.0,0.000000,0.0,0.000000,0.0,0.000000
22,NAPARIMA,27066,16046,0.592847,54,15992,2686,0.167959,13306.0,0.832041,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
23,OROPOUCHE EAST,28271,17205,0.608574,52,17153,3416,0.199149,13737.0,0.800851,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
24,OROPOUCHE WEST,25289,15534,0.614259,41,15493,3708,0.239334,11535.0,0.744530,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
25,POINT FORTIN,26003,15696,0.603623,36,15660,9276,0.592337,5761.0,0.367880,...,20.0,0.001277,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
26,POINTE-A-PIERRE,25096,16615,0.662058,37,16578,7357,0.443781,8869.0,0.534986,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
27,PORT-OF-SPAIN NORTH/ST. ANN'S WEST,25003,11685,0.467344,47,11638,9475,0.814143,1705.0,0.146503,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,73.0,0.006273,0.0,0.000000
28,PORT-OF-SPAIN SOUTH,24754,10480,0.423366,26,10454,8202,0.784580,1850.0,0.176966,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
29,PRINCES TOWN,27178,16229,0.597137,32,16197,4708,0.290671,11280.0,0.696425,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
30,SAN FERNANDO EAST,25008,14589,0.583373,36,14553,9864,0.677798,4689.0,0.322202,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
31,SAN FERNANDO WEST,25035,15515,0.619732,45,15470,8457,0.546671,6651.0,0.429929,...,0.0,0.000000,0.0,0.000000,23.0,0.001487,0.0,0.000000,0.0,0.000000
32,SIPARIA,28663,17398,0.606985,56,17342,3855,0.222293,13487.0,0.777707,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
33,ST. ANN'S EAST,29454,14790,0.502139,46,14744,10979,0.744642,3438.0,0.233180,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
34,ST. AUGUSTINE,28094,17706,0.630241,43,17663,5264,0.298024,11943.0,0.676159,...,0.0,0.000000,33.0,0.001868,0.0,0.000000,0.0,0.000000,0.0,0.000000
35,ST. JOSEPH,28452,18193,0.639428,49,18144,9354,0.515542,8543.0,0.470844,...,0.0,0.000000,30.0,0.001653,0.0,0.000000,0.0,0.000000,0.0,0.000000
36,TABAQUITE,28832,16920,0.586848,50,16870,5209,0.308773,11440.0,0.678127,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
37,TOBAGO EAST,23102,13112,0.567570,39,13073,7127,0.545169,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
38,TOBAGO WEST,27686,13883,0.501445,24,13859,9275,0.669240,0.0,0.000000,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,40.0,0.002886
39,TOCO/SANGRE GRANDE,31096,18237,0.586474,60,18177,10698,0.588546,7313.0,0.402322,...,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000,0.0,0.000000
40,TUNAPUNA,27433,17317,0.631247,38,17279,9460,0.547485,7534.0,0.436021,...,0.0,0.000000,57.0,0.003299,0.0,0.000000,0.0,0.000000,0.0,0.000000
41,TOTAL,1134135,658297,0.580440,1775,656522,322250,0.490844,309188.0,0.470948,...,20.0,0.000062,366.0,0.001136,23.0,0.000071,73.0,0.000227,40.0,0.000124

## Debt to GDP cleaning

In [ ]:
debt_gdp = pd.read_csv(r'csvs\tt_debt_to_gdp.csv') 
debt_gdp

,Unnamed: 0,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,0,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2023,NaN,NaN,NaN,1
1,1,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2022,NaN,NaN,NaN,1
2,2,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2021,NaN,NaN,NaN,1
3,3,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2020,NaN,NaN,NaN,1
4,4,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2019,32.899538,NaN,NaN,1
5,5,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2018,30.479707,NaN,NaN,1
6,6,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2017,32.754879,NaN,NaN,1
7,7,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2016,33.288105,NaN,NaN,1
8,8,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2015,33.317643,NaN,NaN,1
9,9,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2014,30.864283,NaN,NaN,1
10,10,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2013,29.289067,NaN,NaN,1
11,11,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2012,28.328068,NaN,NaN,1
12,12,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2011,27.323723,NaN,NaN,1
13,13,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2010,30.697681,NaN,NaN,1
14,14,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2009,33.013855,NaN,NaN,1
15,15,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2008,26.432050,NaN,NaN,1
16,16,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2007,24.512367,NaN,NaN,1
17,17,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2006,29.505978,NaN,NaN,1
18,18,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2005,22.652513,NaN,NaN,1
19,19,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2004,22.618344,NaN,NaN,1
20,20,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2003,22.099369,NaN,NaN,1
21,21,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2002,24.900338,NaN,NaN,1
22,22,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2001,23.861627,NaN,NaN,1
23,23,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2000,NaN,NaN,NaN,1
24,24,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1999,NaN,NaN,NaN,1
25,25,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1998,NaN,NaN,NaN,1
26,26,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1997,NaN,NaN,NaN,1
27,27,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1996,NaN,NaN,NaN,1
28,28,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1995,NaN,NaN,NaN,1
29,29,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1994,NaN,NaN,NaN,1
30,30,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1993,NaN,NaN,NaN,1
31,31,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1992,NaN,NaN,NaN,1
32,32,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1991,NaN,NaN,NaN,1
33,33,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1990,NaN,NaN,NaN,1
34,34,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1989,NaN,NaN,NaN,1
35,35,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1988,NaN,NaN,NaN,1
36,36,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1987,NaN,NaN,NaN,1
37,37,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1986,NaN,NaN,NaN,1
38,38,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1985,NaN,NaN,NaN,1
39,39,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1984,NaN,NaN,NaN,1
40,40,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1983,NaN,NaN,NaN,1
41,41,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1982,NaN,NaN,NaN,1
42,42,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1981,NaN,NaN,NaN,1
43,43,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1980,NaN,NaN,NaN,1
44,44,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1979,NaN,NaN,NaN,1
45,45,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1978,NaN,NaN,NaN,1
46,46,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1977,NaN,NaN,NaN,1
47,47,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1976,NaN,NaN,NaN,1
48,48,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1975,NaN,NaN,NaN,1
49,49,"{'id': 'GC.XPN.TOTL.GD.ZS', 'value': 'Expense ...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1974,NaN,NaN,NaN,1

In [ ]:
debt_gdp['indicator'] = debt_gdp['indicator'] = "Expense (% of GDP)"
debt_gdp['country'] = debt_gdp['country'] = "Trinidad and Tobago"
debt_gdp = debt_gdp.drop(['Unnamed: 0'], axis=1)

debt_gdp

,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,Expense (% of GDP),Trinidad and Tobago,TTO,2023,NaN,NaN,NaN,1
1,Expense (% of GDP),Trinidad and Tobago,TTO,2022,NaN,NaN,NaN,1
2,Expense (% of GDP),Trinidad and Tobago,TTO,2021,NaN,NaN,NaN,1
3,Expense (% of GDP),Trinidad and Tobago,TTO,2020,NaN,NaN,NaN,1
4,Expense (% of GDP),Trinidad and Tobago,TTO,2019,32.899538,NaN,NaN,1
5,Expense (% of GDP),Trinidad and Tobago,TTO,2018,30.479707,NaN,NaN,1
6,Expense (% of GDP),Trinidad and Tobago,TTO,2017,32.754879,NaN,NaN,1
7,Expense (% of GDP),Trinidad and Tobago,TTO,2016,33.288105,NaN,NaN,1
8,Expense (% of GDP),Trinidad and Tobago,TTO,2015,33.317643,NaN,NaN,1
9,Expense (% of GDP),Trinidad and Tobago,TTO,2014,30.864283,NaN,NaN,1
10,Expense (% of GDP),Trinidad and Tobago,TTO,2013,29.289067,NaN,NaN,1
11,Expense (% of GDP),Trinidad and Tobago,TTO,2012,28.328068,NaN,NaN,1
12,Expense (% of GDP),Trinidad and Tobago,TTO,2011,27.323723,NaN,NaN,1
13,Expense (% of GDP),Trinidad and Tobago,TTO,2010,30.697681,NaN,NaN,1
14,Expense (% of GDP),Trinidad and Tobago,TTO,2009,33.013855,NaN,NaN,1
15,Expense (% of GDP),Trinidad and Tobago,TTO,2008,26.432050,NaN,NaN,1
16,Expense (% of GDP),Trinidad and Tobago,TTO,2007,24.512367,NaN,NaN,1
17,Expense (% of GDP),Trinidad and Tobago,TTO,2006,29.505978,NaN,NaN,1
18,Expense (% of GDP),Trinidad and Tobago,TTO,2005,22.652513,NaN,NaN,1
19,Expense (% of GDP),Trinidad and Tobago,TTO,2004,22.618344,NaN,NaN,1
20,Expense (% of GDP),Trinidad and Tobago,TTO,2003,22.099369,NaN,NaN,1
21,Expense (% of GDP),Trinidad and Tobago,TTO,2002,24.900338,NaN,NaN,1
22,Expense (% of GDP),Trinidad and Tobago,TTO,2001,23.861627,NaN,NaN,1
23,Expense (% of GDP),Trinidad and Tobago,TTO,2000,NaN,NaN,NaN,1
24,Expense (% of GDP),Trinidad and Tobago,TTO,1999,NaN,NaN,NaN,1
25,Expense (% of GDP),Trinidad and Tobago,TTO,1998,NaN,NaN,NaN,1
26,Expense (% of GDP),Trinidad and Tobago,TTO,1997,NaN,NaN,NaN,1
27,Expense (% of GDP),Trinidad and Tobago,TTO,1996,NaN,NaN,NaN,1
28,Expense (% of GDP),Trinidad and Tobago,TTO,1995,NaN,NaN,NaN,1
29,Expense (% of GDP),Trinidad and Tobago,TTO,1994,NaN,NaN,NaN,1
30,Expense (% of GDP),Trinidad and Tobago,TTO,1993,NaN,NaN,NaN,1
31,Expense (% of GDP),Trinidad and Tobago,TTO,1992,NaN,NaN,NaN,1
32,Expense (% of GDP),Trinidad and Tobago,TTO,1991,NaN,NaN,NaN,1
33,Expense (% of GDP),Trinidad and Tobago,TTO,1990,NaN,NaN,NaN,1
34,Expense (% of GDP),Trinidad and Tobago,TTO,1989,NaN,NaN,NaN,1
35,Expense (% of GDP),Trinidad and Tobago,TTO,1988,NaN,NaN,NaN,1
36,Expense (% of GDP),Trinidad and Tobago,TTO,1987,NaN,NaN,NaN,1
37,Expense (% of GDP),Trinidad and Tobago,TTO,1986,NaN,NaN,NaN,1
38,Expense (% of GDP),Trinidad and Tobago,TTO,1985,NaN,NaN,NaN,1
39,Expense (% of GDP),Trinidad and Tobago,TTO,1984,NaN,NaN,NaN,1
40,Expense (% of GDP),Trinidad and Tobago,TTO,1983,NaN,NaN,NaN,1
41,Expense (% of GDP),Trinidad and Tobago,TTO,1982,NaN,NaN,NaN,1
42,Expense (% of GDP),Trinidad and Tobago,TTO,1981,NaN,NaN,NaN,1
43,Expense (% of GDP),Trinidad and Tobago,TTO,1980,NaN,NaN,NaN,1
44,Expense (% of GDP),Trinidad and Tobago,TTO,1979,NaN,NaN,NaN,1
45,Expense (% of GDP),Trinidad and Tobago,TTO,1978,NaN,NaN,NaN,1
46,Expense (% of GDP),Trinidad and Tobago,TTO,1977,NaN,NaN,NaN,1
47,Expense (% of GDP),Trinidad and Tobago,TTO,1976,NaN,NaN,NaN,1
48,Expense (% of GDP),Trinidad and Tobago,TTO,1975,NaN,NaN,NaN,1
49,Expense (% of GDP),Trinidad and Tobago,TTO,1974,NaN,NaN,NaN,1

Given the number of missing values, research was done to find a way to fill in the missing values and in so doing a better csv was found. All missing values are filled as n.d. from source.

In [ ]:
df_debt_annual = pd.read_csv(r'csvs\Debt Annual  Central Bank of Trinidad and Tobago.csv')
df_debt_annual

,Date,Central Government Debt Management Bills Issuances (TT$Mn),Central Government Debt Management Bills Repayments (TT$Mn),Central Government Debt Management Bills Outstanding (TT$Mn),Central Government Open Market Treasury Bill Issuances (TT$Mn),Central Government Open Market Treasury Bill Repayments (TT$Mn),Central Government Open Market Treasury Bills Outstanding (TT$Mn),Central Government Open Market Treasury Note Issuances (TT$Mn),Central Government Open Market Treasury Note Repayments (TT$Mn),Central Government Open Market Treasury Notes Outstanding (TT$Mn),...,Gross Public Sector Debt Outstanding (TT$Mn),Net Public Sector Debt Outstanding (TT$Mn),Central Government Domestic Debt to GDP Ratio (%),Central Government External Debt to GDP Ratio (%),Central Government Total Debt to GDP Ratio (%),Contingent Liabilities Debt to GDP Ratio (%),Gross Public Sector Debt to GDP Ratio (%),Net Public Sector Debt to GDP Ratio (%),Central Government External Debt Service Ratio (%),3 Month Treasury Bill: Average Discount Rate End of Period (%)
0,2024,9297.5,8883.1,6157.5,1025.0,2935.0,375.0,0.0,0.0,2080.0,...,n.d,n.d,40.1,19.3,59.4,n.d,n.d,n.d,n.d,2.3
1,2023,7035.2,8708.1,5743.1,5954.5,8701.0,2660.0,2080.0,1632.0,2080.0,...,n.d,n.d,40.6,18.5,59.1,n.d,n.d,n.d,5.7,1.1
2,2022,5931.0,6036.0,6636.0,10277.5,13084.0,5406.5,0.0,0.0,1632.0,...,n.d,n.d,41.5,18.3,59.8,n.d,n.d,n.d,1.9,0.5
3,2021,6609.0,6109.0,6636.0,8213.0,8479.0,8213.0,1632.0,1632.0,1632.0,...,n.d,n.d,42.0,17.5,59.4,n.d,n.d,n.d,2.7,0.3
4,2020,6812.0,5151.0,6136.0,13408.0,15443.0,8479.0,0.0,500.0,1632.0,...,133858.4,122288.1,44.0,20.0,64.0,20.6,83.9,76.7,10.5,0.3
5,2019,5075.0,2505.0,4475.0,12660.5,22446.9,10514.0,1632.0,2285.0,2132.0,...,122557.6,107602.3,44.1,18.7,62.8,21.0,83.4,73.2,3.1,1.1
6,2018,3670.0,3670.0,1905.0,27773.7,25639.5,20300.4,0.0,1183.0,2785.0,...,124665.3,99270.6,42.9,16.4,59.3,18.4,77.0,61.3,2.2,1.3
7,2017,4315.0,3210.0,1905.0,23105.8,25404.2,18166.3,590.0,5416.8,3968.0,...,120566.8,95873.2,41.7,14.8,56.5,17.8,73.6,58.5,2.1,1.2
8,2016,2550.0,2550.0,800.0,26189.8,24330.0,20464.7,1175.0,2077.7,8794.8,...,119705.3,87886.6,42.2,13.4,55.6,19.0,74.7,54.9,1.9,1.1
9,2015,2550.0,2550.0,800.0,25315.9,29408.6,18604.9,1811.3,465.8,9697.5,...,109357.6,76655.9,40.1,8.8,48.8,19.2,68.2,47.8,1.3,1.0

In [ ]:
df_debt_annual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 48 columns):
 #   Column                                                                                 Non-Null Count  Dtype
---  ------                                                                                 --------------  -----
 0   Date                                                                                   10 non-null     int64
 1   Central Government Debt Management Bills Issuances (TT$Mn)                             10 non-null     float64
 2   Central Government Debt Management Bills Repayments (TT$Mn)                            10 non-null     float64
 3   Central Government Debt Management Bills Outstanding (TT$Mn)                           10 non-null     float64
 4   Central Government Open Market Treasury Bill Issuances (TT$Mn)                         10 non-null     float64
 5   Central Government Open Market Treasury Bill Repayments (TT$Mn)                        10 non-null     float64
 6   Central Government Open Market Treasury Bills Outstanding (TT$Mn)                      10 non-null     float64
 7   Central Government Open Market Treasury Note Issuances (TT$Mn)                         10 non-null     float64
 8   Central Government Open Market Treasury Note Repayments (TT$Mn)                        10 non-null     float64
 9   Central Government Open Market Treasury Notes Outstanding (TT$Mn)                      10 non-null     float64
 10  Central Government Liquidity Absorption Bonds Issuances (TT$Mn)                        10 non-null     float64
 11  Central Government Liquidity Absorption Bonds Repayments (TT$Mn)                       10 non-null     float64
 12  Central Government Liquidity Absorption Bonds Outstanding (TT$Mn)                      10 non-null     float64
 13  Central Government Total Sterilized Debt Outstanding (TT$Mn)                           10 non-null     float64
 14  Central Government CLICO and HCU Zero-Coupon Bonds Allocations (TT$M)                  10 non-null     float64
 15  Central Government CLICO and HCU Zero-Coupon Bonds Conversions and Redemptions (TT$M)  10 non-null     float64
 16  Central Government CLICO and HCU Zero-Coupon Bonds Outstanding (TT$M)                  10 non-null     float64
 17  Central Government Domestic Bond Issuances for VAT Refunds (TT$M)                      10 non-null     float64
 18  Central Government Domestic Repayments on VAT Refund Bonds (TT$M)                      10 non-null     float64
 19  Central Government Domestic VAT Refund Bonds Outstanding (TT$M)                        10 non-null     float64
 20  Central Government Domestic Bonds and Notes Issues (TT$Mn)                             10 non-null     float64
 21  Central Government Domestic Bonds & Notes Repayments (TT$Mn)                           10 non-null     float64
 22  Central Government Domestic Bonds & Notes Outstanding (TT$M)                           10 non-null     float64
 23  Central Government Domestic Debt Outstanding (TT$Mn)                                   10 non-null     float64
 24  Central Government External Debt Outstanding (TT$Mn)                                   10 non-null     float64
 25  Central Government Total Debt Outstanding (TT$Mn)                                      10 non-null     float64
 26  Central Government External Debt Disbursements (US$Mn)                                 10 non-null     float64
 27  Central Government External Debt Amortization (US$Mn)                                  10 non-null     float64
 28  Central Government External Debt Interest Payments (US$Mn)                             10 non-null     float64
 29  Central Government External Debt Service (US$Mn)                                       10 non-null     float64
 30  Central Government External Debt Outstanding (US$Mn)                                   10 non-null     float64
 31  Central Government External Bilateral Debt Outstanding (US$Mn)                         10 non-null     float64
 32  Central Government External Multilateral Debt Outstanding (US$Mn)                      10 non-null     float64
 33  Central Government External Commercial Debt Outstanding (US$Mn)                        10 non-null     float64
 34  Central Government External Bonds Outstanding (US$Mn)                                  10 non-null     float64
 35  Guaranteed State-Owned Enterprise Debt Outstanding (TT$Mn)                             10 non-null     object
 36  Guaranteed Statutory Authorities Debt Outstanding (TT$Mn)                              10 non-null     object
 37  Contingent Liabilities Outstanding (TT$Mn)                                             10 non-null     object
 38  Gross Public Sector Debt Outstanding (TT$Mn)                                           10 non-null     object
 39  Net Public Sector Debt Outstanding (TT$Mn)                                             10 non-null     object
 40  Central Government Domestic Debt to GDP Ratio (%)                                      10 non-null     float64
 41  Central Government External Debt to GDP Ratio (%)                                      10 non-null     float64
 42  Central Government Total Debt to GDP Ratio (%)                                         10 non-null     float64
 43  Contingent Liabilities Debt to GDP Ratio (%)                                           10 non-null     object
 44  Gross Public Sector Debt to GDP Ratio (%)                                              10 non-null     object
 45  Net Public Sector Debt to GDP Ratio (%)                                                10 non-null     object
 46  Central Government External Debt Service Ratio (%)                                     10 non-null     object
 47  3 Month Treasury Bill: Average Discount Rate  End of Period (%)                       10 non-null     float64
dtypes: float64(38), int64(1), object(9)
memory usage: 3.9+ KB

In [ ]:
df_debt_annual.describe()

,Date,Central Government Debt Management Bills Issuances (TT$Mn),Central Government Debt Management Bills Repayments (TT$Mn),Central Government Debt Management Bills Outstanding (TT$Mn),Central Government Open Market Treasury Bill Issuances (TT$Mn),Central Government Open Market Treasury Bill Repayments (TT$Mn),Central Government Open Market Treasury Bills Outstanding (TT$Mn),Central Government Open Market Treasury Note Issuances (TT$Mn),Central Government Open Market Treasury Note Repayments (TT$Mn),Central Government Open Market Treasury Notes Outstanding (TT$Mn),...,Central Government External Debt Service (US$Mn),Central Government External Debt Outstanding (US$Mn),Central Government External Bilateral Debt Outstanding (US$Mn),Central Government External Multilateral Debt Outstanding (US$Mn),Central Government External Commercial Debt Outstanding (US$Mn),Central Government External Bonds Outstanding (US$Mn),Central Government Domestic Debt to GDP Ratio (%),Central Government External Debt to GDP Ratio (%),Central Government Total Debt to GDP Ratio (%),3 Month Treasury Bill: Average Discount Rate End of Period (%)
count,10.00000,10.000000,10.00000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000
mean,2019.50000,5384.470000,4937.22000,4119.360000,15392.370000,17587.120000,11318.380000,892.030000,1519.230000,3643.330000,...,386.420000,4222.930000,309.720000,1344.620000,392.780000,1867.730000,41.920000,16.570000,58.470000,1.020000
std,3.02765,2163.333577,2456.69292,2483.140904,9501.205039,9044.702467,7545.028981,863.172796,1598.349609,3043.047146,...,235.665525,1015.951899,110.224022,630.007698,557.983984,670.610611,1.442066,3.414365,4.210318,0.584618
min,2015.00000,2550.000000,2505.00000,800.000000,1025.000000,2935.000000,375.000000,0.000000,0.000000,1632.000000,...,169.000000,2230.700000,0.000000,262.100000,96.300000,295.100000,40.100000,8.800000,48.800000,0.300000
25%,2017.25000,3831.250000,2715.00000,1905.000000,8729.125000,9796.750000,6108.125000,0.000000,474.350000,1744.000000,...,215.675000,3670.600000,329.950000,804.375000,126.200000,2050.000000,40.825000,15.200000,57.150000,0.625000
50%,2019.50000,5503.000000,4410.50000,5109.050000,13034.250000,18944.950000,9496.500000,882.500000,1407.500000,2106.000000,...,304.450000,4387.050000,339.550000,1456.250000,231.900000,2050.000000,41.850000,17.900000,59.350000,1.100000
75%,2021.75000,6761.250000,6090.75000,6152.125000,24763.375000,25135.650000,18495.250000,1632.000000,1966.275000,3672.250000,...,573.150000,4848.300000,354.900000,1914.175000,341.025000,2200.000000,42.725000,18.650000,59.700000,1.175000
max,2024.00000,9297.500000,8883.10000,6636.000000,27773.700000,29408.600000,20464.700000,2080.000000,5416.800000,9697.500000,...,809.100000,5587.500000,373.700000,2037.900000,1949.600000,2532.200000,44.100000,20.000000,64.000000,2.300000

The data for debt to gdp looks cleaned enough.

## GDP Cleaning

In [ ]:
df_gdp = pd.read_csv(r'csvs\tt_gdp.csv')
df_gdp

,Unnamed: 0,indicator,country,countryiso3code,date,value,unit,obs_status,decimal
0,0,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2023,2.737229e+10,NaN,NaN,0
1,1,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2022,3.005345e+10,NaN,NaN,0
2,2,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2021,2.449640e+10,NaN,NaN,0
3,3,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2020,2.080772e+10,NaN,NaN,0
4,4,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2019,2.377566e+10,NaN,NaN,0
5,5,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2018,2.456926e+10,NaN,NaN,0
6,6,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2017,2.404021e+10,NaN,NaN,0
7,7,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2016,2.372268e+10,NaN,NaN,0
8,8,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2015,2.702675e+10,NaN,NaN,0
9,9,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2014,2.969767e+10,NaN,NaN,0
10,10,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2013,2.870986e+10,NaN,NaN,0
11,11,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2012,2.733457e+10,NaN,NaN,0
12,12,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2011,2.543301e+10,NaN,NaN,0
13,13,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2010,2.215792e+10,NaN,NaN,0
14,14,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2009,1.917217e+10,NaN,NaN,0
15,15,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2008,2.787159e+10,NaN,NaN,0
16,16,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2007,2.164162e+10,NaN,NaN,0
17,17,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2006,1.836936e+10,NaN,NaN,0
18,18,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2005,1.598239e+10,NaN,NaN,0
19,19,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2004,1.328029e+10,NaN,NaN,0
20,20,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2003,1.130546e+10,NaN,NaN,0
21,21,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2002,9.008298e+09,NaN,NaN,0
22,22,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2001,8.824849e+09,NaN,NaN,0
23,23,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,2000,8.154342e+09,NaN,NaN,0
24,24,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1999,6.808983e+09,NaN,NaN,0
25,25,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1998,6.043687e+09,NaN,NaN,0
26,26,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1997,5.737772e+09,NaN,NaN,0
27,27,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1996,5.759570e+09,NaN,NaN,0
28,28,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1995,5.329218e+09,NaN,NaN,0
29,29,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1994,4.947182e+09,NaN,NaN,0
30,30,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1993,4.669491e+09,NaN,NaN,0
31,31,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1992,5.439553e+09,NaN,NaN,0
32,32,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1991,5.307906e+09,NaN,NaN,0
33,33,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1990,5.068000e+09,NaN,NaN,0
34,34,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1989,4.323059e+09,NaN,NaN,0
35,35,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1988,4.496911e+09,NaN,NaN,0
36,36,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1987,4.797778e+09,NaN,NaN,0
37,37,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1986,4.794444e+09,NaN,NaN,0
38,38,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1985,7.375918e+09,NaN,NaN,0
39,39,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1984,7.757083e+09,NaN,NaN,0
40,40,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1983,7.763750e+09,NaN,NaN,0
41,41,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1982,8.140417e+09,NaN,NaN,0
42,42,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1981,6.992083e+09,NaN,NaN,0
43,43,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1980,6.235833e+09,NaN,NaN,0
44,44,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1979,4.602417e+09,NaN,NaN,0
45,45,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1978,3.562333e+09,NaN,NaN,0
46,46,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1977,3.138667e+09,NaN,NaN,0
47,47,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1976,2.500425e+09,NaN,NaN,0
48,48,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1975,2.442670e+09,NaN,NaN,0
49,49,"{'id': 'NY.GDP.MKTP.CD', 'value': 'GDP (curren...","{'id': 'TT', 'value': 'Trinidad and Tobago'}",TTO,1974,2.042001e+09,NaN,NaN,0

## Electoral Elasticity Calculations

In [ ]:
# get the change in vote share for P.N.M., U.N.C., and C.O.P. between constituencies for the different years
sht_10_share = sht_10[['ELECTORAL_DISTRICT', 'P.N.M._VOTES_%', 'U.N.C._VOTES_%', 'C.O.P._VOTES_%']]
sht_07_share = sht_07[['ELECTORAL_DISTRICT', 'P.N.M._VOTES_%', 'U.N.C._VOTES_%', 'C.O.P._VOTES_%']]
sht_15_share = sht_15[['ELECTORAL_DISTRICT', 'P.N.M._VOTES_%', 'U.N.C._VOTES_%', 'C.O.P._VOTES_%']]
sht_20_share = sht_20[['ELECTORAL_DISTRICT', 'P.N.M._VOTES_%', 'U.N.C._VOTES_%', 'C.O.P._VOTES_%']]

Calculate differences in vote percentages

In [ ]:
# calculate the difference in vote share
diff_1 = sht_07_share.set_index('ELECTORAL_DISTRICT').sub(sht_10_share.set_index('ELECTORAL_DISTRICT'), axis=0)
diff_1.reset_index(inplace=True)
diff_1.rename(columns={
	'P.N.M._VOTES_%': 'P.N.M._VOTES_%_CHANGE',
	'U.N.C._VOTES_%': 'U.N.C._VOTES_%_CHANGE',
	'C.O.P._VOTES_%': 'C.O.P._VOTES_%_CHANGE'
}, inplace=True)

diff_2 = sht_10_share.set_index('ELECTORAL_DISTRICT').sub(sht_15_share.set_index('ELECTORAL_DISTRICT'), axis=0)
diff_2.reset_index(inplace=True)
diff_2.rename(columns={
	'P.N.M._VOTES_%': 'P.N.M._VOTES_%_CHANGE',
	'U.N.C._VOTES_%': 'U.N.C._VOTES_%_CHANGE',
	'C.O.P._VOTES_%': 'C.O.P._VOTES_%_CHANGE'
}, inplace=True)

diff_3 = sht_15_share.set_index('ELECTORAL_DISTRICT').sub(sht_20_share.set_index('ELECTORAL_DISTRICT'), axis=0)
diff_3.reset_index(inplace=True)
diff_3.rename(columns={
	'P.N.M._VOTES_%': 'P.N.M._VOTES_%_CHANGE',
	'U.N.C._VOTES_%': 'U.N.C._VOTES_%_CHANGE',
	'C.O.P._VOTES_%': 'C.O.P._VOTES_%_CHANGE'
}, inplace=True)

Output of Elasticity Change in  Percentage

In [ ]:
print(diff_1)

                    ELECTORAL_DISTRICT  P.N.M._VOTES_%_CHANGE  \
0                                ARIMA               0.162073
1                       AROUCA/MALONEY               0.086250
2                   BARATARIA/SAN JUAN               0.057792
3                       CARONI CENTRAL               0.015579
4                          CARONI EAST               0.034685
5                       CHAGUANAS EAST               0.044016
6                       CHAGUANAS WEST               0.011856
7                          COUVA NORTH               0.034266
8                          COUVA SOUTH               0.043367
9                    CUMUTO/MANZANILLA               0.051149
10                    D'ABADIE/O'MEARA               0.127238
11                DIEGO MARTIN CENTRAL               0.077128
12             DIEGO MARTIN NORTH/EAST               0.103024
13                   DIEGO MARTIN WEST               0.075248
14                             FYZABAD               0.027769
15                             LA BREA               0.084292
16                LA HORQUETTA/TALPARO               0.113094
17             LAVENTILLE EAST/MORVANT               0.086354
18                     LAVENTILLE WEST               0.084168
19                LOPINOT/BON AIR WEST               0.074651
20                              MAYARO               0.072087
21                    MORUGA/TABLELAND               0.064932
22                            NAPARIMA               0.031878
23                      OROPOUCHE EAST               0.026447
24                      OROPOUCHE WEST               0.022269
25                        POINT FORTIN               0.068860
26                     POINTE-A-PIERRE               0.043284
27  PORT-OF-SPAIN NORTH/ST. ANN'S WEST               0.071077
28                 PORT-OF-SPAIN SOUTH               0.078334
29                        PRINCES TOWN               0.042235
30                   SAN FERNANDO EAST               0.073364
31                   SAN FERNANDO WEST               0.044221
32                             SIPARIA               0.046907
33                      ST. ANN'S EAST               0.116907
34                       ST. AUGUSTINE               0.036667
35                          ST. JOSEPH               0.050409
36                           TABAQUITE               0.026757
37                         TOBAGO EAST               0.106365
38                         TOBAGO WEST               0.116527
39                  TOCO/SANGRE GRANDE               0.096009
40                            TUNAPUNA               0.071547
41                               TOTAL               0.062943

    U.N.C._VOTES_%_CHANGE  C.O.P._VOTES_%_CHANGE
0                0.091528              -0.246383
1                0.093035              -0.172696
2               -0.291133               0.233341
3               -0.280735               0.265156
4               -0.292675               0.257990
5               -0.299814               0.258020
6               -0.305944               0.294088
7               -0.290027               0.255761
8               -0.289213               0.245846
9               -0.225892               0.180085
10               0.161183              -0.291612
11               0.037653              -0.106367
12              -0.424896               0.329399
13               0.033455              -0.100034
14              -0.229639               0.201871
15              -0.191291               0.120797
16              -0.287731               0.179932
17               0.080738              -0.137111
18               0.028429              -0.112597
19               0.249936              -0.324587
20              -0.175838               0.103751
21              -0.144129               0.079198
22              -0.276741               0.244863
23              -0.319569               0.293122
24              -0.278292               0.256022
25               0.167779              -0.236639
26              -0.254368               0.211084
27              -0.360153               0.296068
28               0.048793              -0.106280
29              -0.262600               0.220365
30              -0.276910               0.203546
31               0.157643              -0.194378
32              -0.221179               0.174272
33              -0.336432               0.226825
34               0.396164              -0.432831
35              -0.291707               0.243121
36              -0.339180               0.312422
37               0.000000               0.021918
38               0.000000               0.040164
39              -0.285056               0.193207
40               0.239227              -0.310774
41              -0.138751               0.085866

In [ ]:
print(diff_2)

                    ELECTORAL_DISTRICT  P.N.M._VOTES_%_CHANGE  \
0                                ARIMA              -0.213962
1                       AROUCA/MALONEY              -0.143955
2                   BARATARIA/SAN JUAN              -0.101980
3                       CARONI CENTRAL              -0.105534
4                          CARONI EAST              -0.071603
5                       CHAGUANAS EAST              -0.056069
6                       CHAGUANAS WEST              -0.036097
7                          COUVA NORTH              -0.081774
8                          COUVA SOUTH              -0.060608
9                    CUMUTO/MANZANILLA              -0.063669
10                    D'ABADIE/O'MEARA              -0.200642
11                DIEGO MARTIN CENTRAL              -0.245582
12             DIEGO MARTIN NORTH/EAST              -0.193925
13                   DIEGO MARTIN WEST              -0.234241
14                             FYZABAD              -0.042345
15                             LA BREA              -0.095496
16                LA HORQUETTA/TALPARO              -0.110500
17             LAVENTILLE EAST/MORVANT              -0.147192
18                     LAVENTILLE WEST              -0.096731
19                LOPINOT/BON AIR WEST              -0.154241
20                              MAYARO              -0.065525
21                    MORUGA/TABLELAND              -0.084006
22                            NAPARIMA              -0.036933
23                      OROPOUCHE EAST              -0.061822
24                      OROPOUCHE WEST              -0.057466
25                        POINT FORTIN              -0.085206
26                     POINTE-A-PIERRE              -0.067660
27  PORT-OF-SPAIN NORTH/ST. ANN'S WEST              -0.223436
28                 PORT-OF-SPAIN SOUTH              -0.204832
29                        PRINCES TOWN              -0.058878
30                   SAN FERNANDO EAST              -0.063612
31                   SAN FERNANDO WEST              -0.132743
32                             SIPARIA              -0.031380
33                      ST. ANN'S EAST              -0.195804
34                       ST. AUGUSTINE              -0.117774
35                          ST. JOSEPH              -0.120625
36                           TABAQUITE              -0.072267
37                         TOBAGO EAST              -0.275537
38                         TOBAGO WEST              -0.324358
39                  TOCO/SANGRE GRANDE              -0.111946
40                            TUNAPUNA              -0.155964
41                               TOTAL              -0.119797

    U.N.C._VOTES_%_CHANGE  C.O.P._VOTES_%_CHANGE
0                0.000000               0.212913
1                0.000000               0.137366
2                0.103987               0.000000
3                0.112592               0.000000
4                0.082335               0.000000
5                0.096884               0.000000
6                0.056879               0.000000
7                0.090248               0.000000
8                0.069399               0.000000
9                0.067661               0.000000
10               0.000000               0.217371
11               0.000000               0.466980
12               0.192434               0.000000
13               0.000000               0.263485
14               0.045331               0.000000
15               0.088418               0.000000
16               0.110775               0.000000
17               0.000000               0.249065
18               0.000000               0.202527
19               0.000000               0.184140
20               0.067418               0.000000
21               0.086325               0.000000
22               0.041433               0.000000
23               0.061822               0.000000
24               0.057466               0.000000
25              -0.395348               0.480553
26               0.070333               0.000000
27               0.216444               0.000000
28               0.000000               0.188366
29               0.058878               0.000000
30               0.385547              -0.304250
31              -0.398500               0.532838
32               0.031380               0.000000
33               0.197980               0.000000
34               0.000000               0.135083
35               0.126662               0.000000
36               0.072267               0.000000
37               0.000000               0.000000
38               0.000000               0.000000
39               0.118901               0.000000
40              -0.402890               0.561764
41               0.041130               0.081155

In [ ]:
print(diff_3)

                    ELECTORAL_DISTRICT  P.N.M._VOTES_%_CHANGE  \
0                                ARIMA               0.000000
1                       AROUCA/MALONEY               0.000000
2                   BARATARIA/SAN JUAN               0.023198
3                       CARONI CENTRAL              -0.003618
4                          CARONI EAST               0.025036
5                       CHAGUANAS EAST              -0.022953
6                       CHAGUANAS WEST               0.001675
7                          COUVA NORTH               0.038222
8                          COUVA SOUTH              -0.002304
9                    CUMUTO/MANZANILLA               0.010396
10                    D'ABADIE/O'MEARA              -0.003608
11                DIEGO MARTIN CENTRAL               0.026364
12             DIEGO MARTIN NORTH/EAST              -0.035213
13                   DIEGO MARTIN WEST              -0.015493
14                             FYZABAD               0.021386
15                             LA BREA               0.061162
16                LA HORQUETTA/TALPARO               0.024647
17             LAVENTILLE EAST/MORVANT               0.041583
18                     LAVENTILLE WEST               0.059077
19                LOPINOT/BON AIR WEST               0.064862
20                              MAYARO               0.026210
21                    MORUGA/TABLELAND               0.039696
22                            NAPARIMA               0.002165
23                      OROPOUCHE EAST               0.000756
24                      OROPOUCHE WEST               0.017184
25                        POINT FORTIN               0.012315
26                     POINTE-A-PIERRE               0.012961
27  PORT-OF-SPAIN NORTH/ST. ANN'S WEST               0.017367
28                 PORT-OF-SPAIN SOUTH               0.016315
29                        PRINCES TOWN               0.031279
30                   SAN FERNANDO EAST               0.000266
31                   SAN FERNANDO WEST               0.045748
32                             SIPARIA               0.019680
33                      ST. ANN'S EAST               0.033381
34                       ST. AUGUSTINE               0.025461
35                          ST. JOSEPH               0.022201
36                           TABAQUITE               0.035620
37                         TOBAGO EAST               0.149666
38                         TOBAGO WEST               0.122713
39                  TOCO/SANGRE GRANDE               0.001903
40                            TUNAPUNA               0.046714
41                               TOTAL               0.025920

    U.N.C._VOTES_%_CHANGE  C.O.P._VOTES_%_CHANGE
0               -0.286670               0.292500
1               -0.178985               0.184500
2               -0.012248               0.000000
3                0.009700               0.000000
4               -0.018743               0.000000
5               -0.007080               0.000000
6               -0.014579               0.000000
7               -0.027039              -0.005436
8               -0.000676               0.000000
9               -0.009381               0.000000
10              -0.325143               0.319838
11              -0.188493               0.000000
12               0.085461              -0.009622
13              -0.184701               0.201751
14              -0.009379               0.000000
15              -0.040592               0.000000
16              -0.022000               0.000000
17              -0.156836               0.000000
18              -0.118766              -0.004216
19              -0.209338               0.344516
20              -0.020696               0.000000
21              -0.038974               0.000000
22              -0.006665               0.000000
23              -0.000756               0.000000
24              -0.001047               0.000000
25               0.027468               0.000000
26               0.005600               0.000000
27               0.021987               0.000000
28              -0.176966               0.188690
29              -0.018376               0.000000
30              -0.322202               0.304250
31              -0.031429               0.000000
32              -0.019680               0.000000
33              -0.020680               0.000000
34              -0.676159               0.648562
35              -0.016447               0.000000
36              -0.022520               0.000000
37               0.000000               0.000000
38               0.000000               0.000000
39              -0.003886               0.000000
40              -0.033131               0.000000
41              -0.074867               0.059358